pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight-pygments-paraiso-dark .hll { background-color: #4f424c }
.highlight-pygments-paraiso-dark { background: #2f1e2e; color: #e7e9db }
.highlight-pygments-paraiso-dark .c { color: #776e71 } /* Comment */
.highlight-pygments-paraiso-dark .err { color: #ef6155 } /* Error */
.highlight-pygments-paraiso-dark .k { color: #815ba4 } /* Keyword */
.highlight-pygments-paraiso-dark .l { color: #f99b15 } /* Literal */
.highlight-pygments-paraiso-dark .n { color: #e7e9db } /* Name */
.highlight-pygments-paraiso-dark .o { color: #5bc4bf } /* Operator */
.highlight-pygments-paraiso-dark .p { color: #e7e9db } /* Punctuation */
.highlight-pygments-paraiso-dark .ch { color: #776e71 } /* Comment.Hashbang */
.highlight-pygments-paraiso-dark .cm { color: #776e71 } /* Comment.Multiline */
.highlight-pygments-paraiso-dark .cp { color: #776e71 } /* Comment.Preproc */
.highlight-pygments-paraiso-dark .cpf { color: #776e71 } /* Comment.PreprocFile */
.highlight-pygments-paraiso-dark .c1 { color: #776e71 } /* Comment.Single */
.highlight-pygments-paraiso-dark .cs { color: #776e71 } /* Comment.Special */
.highlight-pygments-paraiso-dark .gd { color: #ef6155 } /* Generic.Deleted */
.highlight-pygments-paraiso-dark .ge { font-style: italic } /* Generic.Emph */
.highlight-pygments-paraiso-dark .gh { color: #e7e9db; font-weight: bold } /* Generic.Heading */
.highlight-pygments-paraiso-dark .gi { color: #48b685 } /* Generic.Inserted */
.highlight-pygments-paraiso-dark .gp { color: #776e71; font-weight: bold } /* Generic.Prompt */
.highlight-pygments-paraiso-dark .gs { font-weight: bold } /* Generic.Strong */
.highlight-pygments-paraiso-dark .gu { color: #5bc4bf; font-weight: bold } /* Generic.Subheading */
.highlight-pygments-paraiso-dark .kc { color: #815ba4 } /* Keyword.Constant */
.highlight-pygments-paraiso-dark .kd { color: #815ba4 } /* Keyword.Declaration */
.highlight-pygments-paraiso-dark .kn { color: #5bc4bf } /* Keyword.Namespace */
.highlight-pygments-paraiso-dark .kp { color: #815ba4 } /* Keyword.Pseudo */
.highlight-pygments-paraiso-dark .kr { color: #815ba4 } /* Keyword.Reserved */
.highlight-pygments-paraiso-dark .kt { color: #fec418 } /* Keyword.Type */
.highlight-pygments-paraiso-dark .ld { color: #48b685 } /* Literal.Date */
.highlight-pygments-paraiso-dark .m { color: #f99b15 } /* Literal.Number */
.highlight-pygments-paraiso-dark .s { color: #48b685 } /* Literal.String */
.highlight-pygments-paraiso-dark .na { color: #06b6ef } /* Name.Attribute */
.highlight-pygments-paraiso-dark .nb { color: #e7e9db } /* Name.Builtin */
.highlight-pygments-paraiso-dark .nc { color: #fec418 } /* Name.Class */
.highlight-pygments-paraiso-dark .no { color: #ef6155 } /* Name.Constant */
.highlight-pygments-paraiso-dark .nd { color: #5bc4bf } /* Name.Decorator */
.highlight-pygments-paraiso-dark .ni { color: #e7e9db } /* Name.Entity */
.highlight-pygments-paraiso-dark .ne { color: #ef6155 } /* Name.Exception */
.highlight-pygments-paraiso-dark .nf { color: #06b6ef } /* Name.Function */
.highlight-pygments-paraiso-dark .nl { color: #e7e9db } /* Name.Label */
.highlight-pygments-paraiso-dark .nn { color: #fec418 } /* Name.Namespace */
.highlight-pygments-paraiso-dark .nx { color: #06b6ef } /* Name.Other */
.highlight-pygments-paraiso-dark .py { color: #e7e9db } /* Name.Property */
.highlight-pygments-paraiso-dark .nt { color: #5bc4bf } /* Name.Tag */
.highlight-pygments-paraiso-dark .nv { color: #ef6155 } /* Name.Variable */
.highlight-pygments-paraiso-dark .ow { color: #5bc4bf } /* Operator.Word */
.highlight-pygments-paraiso-dark .pm { color: #e7e9db } /* Punctuation.Marker */
.highlight-pygments-paraiso-dark .w { color: #e7e9db } /* Text.Whitespace */
.highlight-pygments-paraiso-dark .mb { color: #f99b15 } /* Literal.Number.Bin */
.highlight-pygments-paraiso-dark .mf { color: #f99b15 } /* Literal.Number.Float */
.highlight-pygments-paraiso-dark .mh { color: #f99b15 } /* Literal.Number.Hex */
.highlight-pygments-paraiso-dark .mi { color: #f99b15 } /* Literal.Number.Integer */
.highlight-pygments-paraiso-dark .mo { color: #f99b15 } /* Literal.Number.Oct */
.highlight-pygments-paraiso-dark .sa { color: #48b685 } /* Literal.String.Affix */
.highlight-pygments-paraiso-dark .sb { color: #48b685 } /* Literal.String.Backtick */
.highlight-pygments-paraiso-dark .sc { color: #e7e9db } /* Literal.String.Char */
.highlight-pygments-paraiso-dark .dl { color: #48b685 } /* Literal.String.Delimiter */
.highlight-pygments-paraiso-dark .sd { color: #776e71 } /* Literal.String.Doc */
.highlight-pygments-paraiso-dark .s2 { color: #48b685 } /* Literal.String.Double */
.highlight-pygments-paraiso-dark .se { color: #f99b15 } /* Literal.String.Escape */
.highlight-pygments-paraiso-dark .sh { color: #48b685 } /* Literal.String.Heredoc */
.highlight-pygments-paraiso-dark .si { color: #f99b15 } /* Literal.String.Interpol */
.highlight-pygments-paraiso-dark .sx { color: #48b685 } /* Literal.String.Other */
.highlight-pygments-paraiso-dark .sr { color: #48b685 } /* Literal.String.Regex */
.highlight-pygments-paraiso-dark .s1 { color: #48b685 } /* Literal.String.Single */
.highlight-pygments-paraiso-dark .ss { color: #48b685 } /* Literal.String.Symbol */
.highlight-pygments-paraiso-dark .bp { color: #e7e9db } /* Name.Builtin.Pseudo */
.highlight-pygments-paraiso-dark .fm { color: #06b6ef } /* Name.Function.Magic */
.highlight-pygments-paraiso-dark .vc { color: #ef6155 } /* Name.Variable.Class */
.highlight-pygments-paraiso-dark .vg { color: #ef6155 } /* Name.Variable.Global */
.highlight-pygments-paraiso-dark .vi { color: #ef6155 } /* Name.Variable.Instance */
.highlight-pygments-paraiso-dark .vm { color: #ef6155 } /* Name.Variable.Magic */
.highlight-pygments-paraiso-dark .il { color: #f99b15 } /* Literal.Number.Integer.Long */
