pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight-pygments-arduino .hll { background-color: #ffffcc }
.highlight-pygments-arduino { background: #ffffff; }
.highlight-pygments-arduino .c { color: #95a5a6 } /* Comment */
.highlight-pygments-arduino .err { color: #a61717 } /* Error */
.highlight-pygments-arduino .k { color: #728E00 } /* Keyword */
.highlight-pygments-arduino .n { color: #434f54 } /* Name */
.highlight-pygments-arduino .o { color: #728E00 } /* Operator */
.highlight-pygments-arduino .ch { color: #95a5a6 } /* Comment.Hashbang */
.highlight-pygments-arduino .cm { color: #95a5a6 } /* Comment.Multiline */
.highlight-pygments-arduino .cp { color: #728E00 } /* Comment.Preproc */
.highlight-pygments-arduino .cpf { color: #95a5a6 } /* Comment.PreprocFile */
.highlight-pygments-arduino .c1 { color: #95a5a6 } /* Comment.Single */
.highlight-pygments-arduino .cs { color: #95a5a6 } /* Comment.Special */
.highlight-pygments-arduino .kc { color: #00979D } /* Keyword.Constant */
.highlight-pygments-arduino .kd { color: #728E00 } /* Keyword.Declaration */
.highlight-pygments-arduino .kn { color: #728E00 } /* Keyword.Namespace */
.highlight-pygments-arduino .kp { color: #00979D } /* Keyword.Pseudo */
.highlight-pygments-arduino .kr { color: #00979D } /* Keyword.Reserved */
.highlight-pygments-arduino .kt { color: #00979D } /* Keyword.Type */
.highlight-pygments-arduino .m { color: #8A7B52 } /* Literal.Number */
.highlight-pygments-arduino .s { color: #7F8C8D } /* Literal.String */
.highlight-pygments-arduino .na { color: #434f54 } /* Name.Attribute */
.highlight-pygments-arduino .nb { color: #728E00 } /* Name.Builtin */
.highlight-pygments-arduino .nc { color: #434f54 } /* Name.Class */
.highlight-pygments-arduino .no { color: #434f54 } /* Name.Constant */
.highlight-pygments-arduino .nd { color: #434f54 } /* Name.Decorator */
.highlight-pygments-arduino .ni { color: #434f54 } /* Name.Entity */
.highlight-pygments-arduino .ne { color: #434f54 } /* Name.Exception */
.highlight-pygments-arduino .nf { color: #D35400 } /* Name.Function */
.highlight-pygments-arduino .nl { color: #434f54 } /* Name.Label */
.highlight-pygments-arduino .nn { color: #434f54 } /* Name.Namespace */
.highlight-pygments-arduino .nx { color: #728E00 } /* Name.Other */
.highlight-pygments-arduino .py { color: #434f54 } /* Name.Property */
.highlight-pygments-arduino .nt { color: #434f54 } /* Name.Tag */
.highlight-pygments-arduino .nv { color: #434f54 } /* Name.Variable */
.highlight-pygments-arduino .ow { color: #728E00 } /* Operator.Word */
.highlight-pygments-arduino .mb { color: #8A7B52 } /* Literal.Number.Bin */
.highlight-pygments-arduino .mf { color: #8A7B52 } /* Literal.Number.Float */
.highlight-pygments-arduino .mh { color: #8A7B52 } /* Literal.Number.Hex */
.highlight-pygments-arduino .mi { color: #8A7B52 } /* Literal.Number.Integer */
.highlight-pygments-arduino .mo { color: #8A7B52 } /* Literal.Number.Oct */
.highlight-pygments-arduino .sa { color: #7F8C8D } /* Literal.String.Affix */
.highlight-pygments-arduino .sb { color: #7F8C8D } /* Literal.String.Backtick */
.highlight-pygments-arduino .sc { color: #7F8C8D } /* Literal.String.Char */
.highlight-pygments-arduino .dl { color: #7F8C8D } /* Literal.String.Delimiter */
.highlight-pygments-arduino .sd { color: #7F8C8D } /* Literal.String.Doc */
.highlight-pygments-arduino .s2 { color: #7F8C8D } /* Literal.String.Double */
.highlight-pygments-arduino .se { color: #7F8C8D } /* Literal.String.Escape */
.highlight-pygments-arduino .sh { color: #7F8C8D } /* Literal.String.Heredoc */
.highlight-pygments-arduino .si { color: #7F8C8D } /* Literal.String.Interpol */
.highlight-pygments-arduino .sx { color: #7F8C8D } /* Literal.String.Other */
.highlight-pygments-arduino .sr { color: #7F8C8D } /* Literal.String.Regex */
.highlight-pygments-arduino .s1 { color: #7F8C8D } /* Literal.String.Single */
.highlight-pygments-arduino .ss { color: #7F8C8D } /* Literal.String.Symbol */
.highlight-pygments-arduino .bp { color: #728E00 } /* Name.Builtin.Pseudo */
.highlight-pygments-arduino .fm { color: #D35400 } /* Name.Function.Magic */
.highlight-pygments-arduino .vc { color: #434f54 } /* Name.Variable.Class */
.highlight-pygments-arduino .vg { color: #434f54 } /* Name.Variable.Global */
.highlight-pygments-arduino .vi { color: #434f54 } /* Name.Variable.Instance */
.highlight-pygments-arduino .vm { color: #434f54 } /* Name.Variable.Magic */
.highlight-pygments-arduino .il { color: #8A7B52 } /* Literal.Number.Integer.Long */
