pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight-pygments-inkpot .hll { background-color: #ffffcc }
.highlight-pygments-inkpot { background: #1e1e27; color: #cfbfad }
.highlight-pygments-inkpot .c { color: #cd8b00 } /* Comment */
.highlight-pygments-inkpot .err { color: #ffffff; background-color: #6e2e2e } /* Error */
.highlight-pygments-inkpot .k { color: #808bed } /* Keyword */
.highlight-pygments-inkpot .n { color: #cfbfad } /* Name */
.highlight-pygments-inkpot .o { color: #666666 } /* Operator */
.highlight-pygments-inkpot .x { color: #cfbfad } /* Other */
.highlight-pygments-inkpot .p { color: #cfbfad } /* Punctuation */
.highlight-pygments-inkpot .ch { color: #cd8b00 } /* Comment.Hashbang */
.highlight-pygments-inkpot .cm { color: #cd8b00 } /* Comment.Multiline */
.highlight-pygments-inkpot .cp { color: #409090 } /* Comment.Preproc */
.highlight-pygments-inkpot .cpf { color: #ffcd8b; background-color: #404040 } /* Comment.PreprocFile */
.highlight-pygments-inkpot .c1 { color: #cd8b00 } /* Comment.Single */
.highlight-pygments-inkpot .cs { color: #808bed } /* Comment.Special */
.highlight-pygments-inkpot .gd { color: #A00000 } /* Generic.Deleted */
.highlight-pygments-inkpot .ge { font-style: italic } /* Generic.Emph */
.highlight-pygments-inkpot .gr { color: #FF0000 } /* Generic.Error */
.highlight-pygments-inkpot .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight-pygments-inkpot .gi { color: #00A000 } /* Generic.Inserted */
.highlight-pygments-inkpot .go { color: #888888 } /* Generic.Output */
.highlight-pygments-inkpot .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight-pygments-inkpot .gs { font-weight: bold } /* Generic.Strong */
.highlight-pygments-inkpot .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight-pygments-inkpot .gt { color: #0044DD } /* Generic.Traceback */
.highlight-pygments-inkpot .kc { color: #808bed } /* Keyword.Constant */
.highlight-pygments-inkpot .kd { color: #808bed } /* Keyword.Declaration */
.highlight-pygments-inkpot .kn { color: #808bed } /* Keyword.Namespace */
.highlight-pygments-inkpot .kp { color: #808bed } /* Keyword.Pseudo */
.highlight-pygments-inkpot .kr { color: #808bed } /* Keyword.Reserved */
.highlight-pygments-inkpot .kt { color: #ff8bff } /* Keyword.Type */
.highlight-pygments-inkpot .m { color: #f0ad6d } /* Literal.Number */
.highlight-pygments-inkpot .s { color: #ffcd8b; background-color: #404040 } /* Literal.String */
.highlight-pygments-inkpot .na { color: #cfbfad } /* Name.Attribute */
.highlight-pygments-inkpot .nb { color: #808bed } /* Name.Builtin */
.highlight-pygments-inkpot .nc { color: #ff8bff } /* Name.Class */
.highlight-pygments-inkpot .no { color: #409090 } /* Name.Constant */
.highlight-pygments-inkpot .nd { color: #409090 } /* Name.Decorator */
.highlight-pygments-inkpot .ni { color: #cfbfad } /* Name.Entity */
.highlight-pygments-inkpot .ne { color: #ff0000 } /* Name.Exception */
.highlight-pygments-inkpot .nf { color: #c080d0 } /* Name.Function */
.highlight-pygments-inkpot .nl { color: #808bed } /* Name.Label */
.highlight-pygments-inkpot .nn { color: #ff0000 } /* Name.Namespace */
.highlight-pygments-inkpot .nx { color: #cfbfad } /* Name.Other */
.highlight-pygments-inkpot .py { color: #cfbfad } /* Name.Property */
.highlight-pygments-inkpot .nt { color: #cfbfad } /* Name.Tag */
.highlight-pygments-inkpot .nv { color: #cfbfad } /* Name.Variable */
.highlight-pygments-inkpot .ow { color: #666666 } /* Operator.Word */
.highlight-pygments-inkpot .pm { color: #cfbfad } /* Punctuation.Marker */
.highlight-pygments-inkpot .w { color: #434357 } /* Text.Whitespace */
.highlight-pygments-inkpot .mb { color: #f0ad6d } /* Literal.Number.Bin */
.highlight-pygments-inkpot .mf { color: #f0ad6d } /* Literal.Number.Float */
.highlight-pygments-inkpot .mh { color: #f0ad6d } /* Literal.Number.Hex */
.highlight-pygments-inkpot .mi { color: #f0ad6d } /* Literal.Number.Integer */
.highlight-pygments-inkpot .mo { color: #f0ad6d } /* Literal.Number.Oct */
.highlight-pygments-inkpot .sa { color: #ffcd8b; background-color: #404040 } /* Literal.String.Affix */
.highlight-pygments-inkpot .sb { color: #ffcd8b; background-color: #404040 } /* Literal.String.Backtick */
.highlight-pygments-inkpot .sc { color: #ffcd8b; background-color: #404040 } /* Literal.String.Char */
.highlight-pygments-inkpot .dl { color: #ffcd8b; background-color: #404040 } /* Literal.String.Delimiter */
.highlight-pygments-inkpot .sd { color: #808bed; background-color: #404040 } /* Literal.String.Doc */
.highlight-pygments-inkpot .s2 { color: #ffcd8b; background-color: #404040 } /* Literal.String.Double */
.highlight-pygments-inkpot .se { color: #ffcd8b; background-color: #404040 } /* Literal.String.Escape */
.highlight-pygments-inkpot .sh { color: #ffcd8b; background-color: #404040 } /* Literal.String.Heredoc */
.highlight-pygments-inkpot .si { color: #ffcd8b; background-color: #404040 } /* Literal.String.Interpol */
.highlight-pygments-inkpot .sx { color: #ffcd8b; background-color: #404040 } /* Literal.String.Other */
.highlight-pygments-inkpot .sr { color: #ffcd8b; background-color: #404040 } /* Literal.String.Regex */
.highlight-pygments-inkpot .s1 { color: #ffcd8b; background-color: #404040 } /* Literal.String.Single */
.highlight-pygments-inkpot .ss { color: #ffcd8b; background-color: #404040 } /* Literal.String.Symbol */
.highlight-pygments-inkpot .bp { color: #ffff00 } /* Name.Builtin.Pseudo */
.highlight-pygments-inkpot .fm { color: #c080d0 } /* Name.Function.Magic */
.highlight-pygments-inkpot .vc { color: #cfbfad } /* Name.Variable.Class */
.highlight-pygments-inkpot .vg { color: #cfbfad } /* Name.Variable.Global */
.highlight-pygments-inkpot .vi { color: #cfbfad } /* Name.Variable.Instance */
.highlight-pygments-inkpot .vm { color: #cfbfad } /* Name.Variable.Magic */
.highlight-pygments-inkpot .il { color: #f0ad6d } /* Literal.Number.Integer.Long */
