pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight-pygments-rrt .hll { background-color: #0000ff }
.highlight-pygments-rrt { background: #000000; color: #dddddd }
.highlight-pygments-rrt .c { color: #00ff00 } /* Comment */
.highlight-pygments-rrt .err { color: #dddddd } /* Error */
.highlight-pygments-rrt .esc { color: #dddddd } /* Escape */
.highlight-pygments-rrt .g { color: #dddddd } /* Generic */
.highlight-pygments-rrt .k { color: #ff0000 } /* Keyword */
.highlight-pygments-rrt .l { color: #dddddd } /* Literal */
.highlight-pygments-rrt .n { color: #dddddd } /* Name */
.highlight-pygments-rrt .o { color: #dddddd } /* Operator */
.highlight-pygments-rrt .x { color: #dddddd } /* Other */
.highlight-pygments-rrt .p { color: #dddddd } /* Punctuation */
.highlight-pygments-rrt .ch { color: #00ff00 } /* Comment.Hashbang */
.highlight-pygments-rrt .cm { color: #00ff00 } /* Comment.Multiline */
.highlight-pygments-rrt .cp { color: #e5e5e5 } /* Comment.Preproc */
.highlight-pygments-rrt .cpf { color: #00ff00 } /* Comment.PreprocFile */
.highlight-pygments-rrt .c1 { color: #00ff00 } /* Comment.Single */
.highlight-pygments-rrt .cs { color: #00ff00 } /* Comment.Special */
.highlight-pygments-rrt .gd { color: #dddddd } /* Generic.Deleted */
.highlight-pygments-rrt .ge { color: #dddddd } /* Generic.Emph */
.highlight-pygments-rrt .gr { color: #dddddd } /* Generic.Error */
.highlight-pygments-rrt .gh { color: #dddddd } /* Generic.Heading */
.highlight-pygments-rrt .gi { color: #dddddd } /* Generic.Inserted */
.highlight-pygments-rrt .go { color: #dddddd } /* Generic.Output */
.highlight-pygments-rrt .gp { color: #dddddd } /* Generic.Prompt */
.highlight-pygments-rrt .gs { color: #dddddd } /* Generic.Strong */
.highlight-pygments-rrt .gu { color: #dddddd } /* Generic.Subheading */
.highlight-pygments-rrt .gt { color: #dddddd } /* Generic.Traceback */
.highlight-pygments-rrt .kc { color: #ff0000 } /* Keyword.Constant */
.highlight-pygments-rrt .kd { color: #ff0000 } /* Keyword.Declaration */
.highlight-pygments-rrt .kn { color: #ff0000 } /* Keyword.Namespace */
.highlight-pygments-rrt .kp { color: #ff0000 } /* Keyword.Pseudo */
.highlight-pygments-rrt .kr { color: #ff0000 } /* Keyword.Reserved */
.highlight-pygments-rrt .kt { color: #ee82ee } /* Keyword.Type */
.highlight-pygments-rrt .ld { color: #dddddd } /* Literal.Date */
.highlight-pygments-rrt .m { color: #dddddd } /* Literal.Number */
.highlight-pygments-rrt .s { color: #87ceeb } /* Literal.String */
.highlight-pygments-rrt .na { color: #dddddd } /* Name.Attribute */
.highlight-pygments-rrt .nb { color: #dddddd } /* Name.Builtin */
.highlight-pygments-rrt .nc { color: #dddddd } /* Name.Class */
.highlight-pygments-rrt .no { color: #7fffd4 } /* Name.Constant */
.highlight-pygments-rrt .nd { color: #dddddd } /* Name.Decorator */
.highlight-pygments-rrt .ni { color: #dddddd } /* Name.Entity */
.highlight-pygments-rrt .ne { color: #dddddd } /* Name.Exception */
.highlight-pygments-rrt .nf { color: #ffff00 } /* Name.Function */
.highlight-pygments-rrt .nl { color: #dddddd } /* Name.Label */
.highlight-pygments-rrt .nn { color: #dddddd } /* Name.Namespace */
.highlight-pygments-rrt .nx { color: #dddddd } /* Name.Other */
.highlight-pygments-rrt .py { color: #dddddd } /* Name.Property */
.highlight-pygments-rrt .nt { color: #dddddd } /* Name.Tag */
.highlight-pygments-rrt .nv { color: #eedd82 } /* Name.Variable */
.highlight-pygments-rrt .ow { color: #dddddd } /* Operator.Word */
.highlight-pygments-rrt .pm { color: #dddddd } /* Punctuation.Marker */
.highlight-pygments-rrt .w { color: #dddddd } /* Text.Whitespace */
.highlight-pygments-rrt .mb { color: #dddddd } /* Literal.Number.Bin */
.highlight-pygments-rrt .mf { color: #dddddd } /* Literal.Number.Float */
.highlight-pygments-rrt .mh { color: #dddddd } /* Literal.Number.Hex */
.highlight-pygments-rrt .mi { color: #dddddd } /* Literal.Number.Integer */
.highlight-pygments-rrt .mo { color: #dddddd } /* Literal.Number.Oct */
.highlight-pygments-rrt .sa { color: #87ceeb } /* Literal.String.Affix */
.highlight-pygments-rrt .sb { color: #87ceeb } /* Literal.String.Backtick */
.highlight-pygments-rrt .sc { color: #87ceeb } /* Literal.String.Char */
.highlight-pygments-rrt .dl { color: #87ceeb } /* Literal.String.Delimiter */
.highlight-pygments-rrt .sd { color: #87ceeb } /* Literal.String.Doc */
.highlight-pygments-rrt .s2 { color: #87ceeb } /* Literal.String.Double */
.highlight-pygments-rrt .se { color: #87ceeb } /* Literal.String.Escape */
.highlight-pygments-rrt .sh { color: #87ceeb } /* Literal.String.Heredoc */
.highlight-pygments-rrt .si { color: #87ceeb } /* Literal.String.Interpol */
.highlight-pygments-rrt .sx { color: #87ceeb } /* Literal.String.Other */
.highlight-pygments-rrt .sr { color: #87ceeb } /* Literal.String.Regex */
.highlight-pygments-rrt .s1 { color: #87ceeb } /* Literal.String.Single */
.highlight-pygments-rrt .ss { color: #87ceeb } /* Literal.String.Symbol */
.highlight-pygments-rrt .bp { color: #dddddd } /* Name.Builtin.Pseudo */
.highlight-pygments-rrt .fm { color: #ffff00 } /* Name.Function.Magic */
.highlight-pygments-rrt .vc { color: #eedd82 } /* Name.Variable.Class */
.highlight-pygments-rrt .vg { color: #eedd82 } /* Name.Variable.Global */
.highlight-pygments-rrt .vi { color: #eedd82 } /* Name.Variable.Instance */
.highlight-pygments-rrt .vm { color: #eedd82 } /* Name.Variable.Magic */
.highlight-pygments-rrt .il { color: #dddddd } /* Literal.Number.Integer.Long */
