pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight-pygments-fruity .hll { background-color: #333333 }
.highlight-pygments-fruity { background: #111111; color: #ffffff }
.highlight-pygments-fruity .c { color: #008800; font-style: italic; background-color: #0f140f } /* Comment */
.highlight-pygments-fruity .err { color: #ffffff } /* Error */
.highlight-pygments-fruity .esc { color: #ffffff } /* Escape */
.highlight-pygments-fruity .g { color: #ffffff } /* Generic */
.highlight-pygments-fruity .k { color: #fb660a; font-weight: bold } /* Keyword */
.highlight-pygments-fruity .l { color: #ffffff } /* Literal */
.highlight-pygments-fruity .n { color: #ffffff } /* Name */
.highlight-pygments-fruity .o { color: #ffffff } /* Operator */
.highlight-pygments-fruity .x { color: #ffffff } /* Other */
.highlight-pygments-fruity .p { color: #ffffff } /* Punctuation */
.highlight-pygments-fruity .ch { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Hashbang */
.highlight-pygments-fruity .cm { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Multiline */
.highlight-pygments-fruity .cp { color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f } /* Comment.Preproc */
.highlight-pygments-fruity .cpf { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.PreprocFile */
.highlight-pygments-fruity .c1 { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Single */
.highlight-pygments-fruity .cs { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Special */
.highlight-pygments-fruity .gd { color: #ffffff } /* Generic.Deleted */
.highlight-pygments-fruity .ge { color: #ffffff } /* Generic.Emph */
.highlight-pygments-fruity .gr { color: #ffffff } /* Generic.Error */
.highlight-pygments-fruity .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.highlight-pygments-fruity .gi { color: #ffffff } /* Generic.Inserted */
.highlight-pygments-fruity .go { color: #444444; background-color: #222222 } /* Generic.Output */
.highlight-pygments-fruity .gp { color: #ffffff } /* Generic.Prompt */
.highlight-pygments-fruity .gs { color: #ffffff } /* Generic.Strong */
.highlight-pygments-fruity .gu { color: #ffffff; font-weight: bold } /* Generic.Subheading */
.highlight-pygments-fruity .gt { color: #ffffff } /* Generic.Traceback */
.highlight-pygments-fruity .kc { color: #fb660a; font-weight: bold } /* Keyword.Constant */
.highlight-pygments-fruity .kd { color: #fb660a; font-weight: bold } /* Keyword.Declaration */
.highlight-pygments-fruity .kn { color: #fb660a; font-weight: bold } /* Keyword.Namespace */
.highlight-pygments-fruity .kp { color: #fb660a } /* Keyword.Pseudo */
.highlight-pygments-fruity .kr { color: #fb660a; font-weight: bold } /* Keyword.Reserved */
.highlight-pygments-fruity .kt { color: #cdcaa9; font-weight: bold } /* Keyword.Type */
.highlight-pygments-fruity .ld { color: #ffffff } /* Literal.Date */
.highlight-pygments-fruity .m { color: #0086f7; font-weight: bold } /* Literal.Number */
.highlight-pygments-fruity .s { color: #0086d2 } /* Literal.String */
.highlight-pygments-fruity .na { color: #ff0086; font-weight: bold } /* Name.Attribute */
.highlight-pygments-fruity .nb { color: #ffffff } /* Name.Builtin */
.highlight-pygments-fruity .nc { color: #ffffff } /* Name.Class */
.highlight-pygments-fruity .no { color: #0086d2 } /* Name.Constant */
.highlight-pygments-fruity .nd { color: #ffffff } /* Name.Decorator */
.highlight-pygments-fruity .ni { color: #ffffff } /* Name.Entity */
.highlight-pygments-fruity .ne { color: #ffffff } /* Name.Exception */
.highlight-pygments-fruity .nf { color: #ff0086; font-weight: bold } /* Name.Function */
.highlight-pygments-fruity .nl { color: #ffffff } /* Name.Label */
.highlight-pygments-fruity .nn { color: #ffffff } /* Name.Namespace */
.highlight-pygments-fruity .nx { color: #ffffff } /* Name.Other */
.highlight-pygments-fruity .py { color: #ffffff } /* Name.Property */
.highlight-pygments-fruity .nt { color: #fb660a; font-weight: bold } /* Name.Tag */
.highlight-pygments-fruity .nv { color: #fb660a } /* Name.Variable */
.highlight-pygments-fruity .ow { color: #ffffff } /* Operator.Word */
.highlight-pygments-fruity .pm { color: #ffffff } /* Punctuation.Marker */
.highlight-pygments-fruity .w { color: #888888 } /* Text.Whitespace */
.highlight-pygments-fruity .mb { color: #0086f7; font-weight: bold } /* Literal.Number.Bin */
.highlight-pygments-fruity .mf { color: #0086f7; font-weight: bold } /* Literal.Number.Float */
.highlight-pygments-fruity .mh { color: #0086f7; font-weight: bold } /* Literal.Number.Hex */
.highlight-pygments-fruity .mi { color: #0086f7; font-weight: bold } /* Literal.Number.Integer */
.highlight-pygments-fruity .mo { color: #0086f7; font-weight: bold } /* Literal.Number.Oct */
.highlight-pygments-fruity .sa { color: #0086d2 } /* Literal.String.Affix */
.highlight-pygments-fruity .sb { color: #0086d2 } /* Literal.String.Backtick */
.highlight-pygments-fruity .sc { color: #0086d2 } /* Literal.String.Char */
.highlight-pygments-fruity .dl { color: #0086d2 } /* Literal.String.Delimiter */
.highlight-pygments-fruity .sd { color: #0086d2 } /* Literal.String.Doc */
.highlight-pygments-fruity .s2 { color: #0086d2 } /* Literal.String.Double */
.highlight-pygments-fruity .se { color: #0086d2 } /* Literal.String.Escape */
.highlight-pygments-fruity .sh { color: #0086d2 } /* Literal.String.Heredoc */
.highlight-pygments-fruity .si { color: #0086d2 } /* Literal.String.Interpol */
.highlight-pygments-fruity .sx { color: #0086d2 } /* Literal.String.Other */
.highlight-pygments-fruity .sr { color: #0086d2 } /* Literal.String.Regex */
.highlight-pygments-fruity .s1 { color: #0086d2 } /* Literal.String.Single */
.highlight-pygments-fruity .ss { color: #0086d2 } /* Literal.String.Symbol */
.highlight-pygments-fruity .bp { color: #ffffff } /* Name.Builtin.Pseudo */
.highlight-pygments-fruity .fm { color: #ff0086; font-weight: bold } /* Name.Function.Magic */
.highlight-pygments-fruity .vc { color: #fb660a } /* Name.Variable.Class */
.highlight-pygments-fruity .vg { color: #fb660a } /* Name.Variable.Global */
.highlight-pygments-fruity .vi { color: #fb660a } /* Name.Variable.Instance */
.highlight-pygments-fruity .vm { color: #fb660a } /* Name.Variable.Magic */
.highlight-pygments-fruity .il { color: #0086f7; font-weight: bold } /* Literal.Number.Integer.Long */
