pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight-pygments-murphy .hll { background-color: #ffffcc }
.highlight-pygments-murphy { background: #ffffff; }
.highlight-pygments-murphy .c { color: #666666; font-style: italic } /* Comment */
.highlight-pygments-murphy .err { color: #FF0000; background-color: #FFAAAA } /* Error */
.highlight-pygments-murphy .k { color: #228899; font-weight: bold } /* Keyword */
.highlight-pygments-murphy .o { color: #333333 } /* Operator */
.highlight-pygments-murphy .ch { color: #666666; font-style: italic } /* Comment.Hashbang */
.highlight-pygments-murphy .cm { color: #666666; font-style: italic } /* Comment.Multiline */
.highlight-pygments-murphy .cp { color: #557799 } /* Comment.Preproc */
.highlight-pygments-murphy .cpf { color: #666666; font-style: italic } /* Comment.PreprocFile */
.highlight-pygments-murphy .c1 { color: #666666; font-style: italic } /* Comment.Single */
.highlight-pygments-murphy .cs { color: #cc0000; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight-pygments-murphy .gd { color: #A00000 } /* Generic.Deleted */
.highlight-pygments-murphy .ge { font-style: italic } /* Generic.Emph */
.highlight-pygments-murphy .gr { color: #FF0000 } /* Generic.Error */
.highlight-pygments-murphy .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight-pygments-murphy .gi { color: #00A000 } /* Generic.Inserted */
.highlight-pygments-murphy .go { color: #888888 } /* Generic.Output */
.highlight-pygments-murphy .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.highlight-pygments-murphy .gs { font-weight: bold } /* Generic.Strong */
.highlight-pygments-murphy .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight-pygments-murphy .gt { color: #0044DD } /* Generic.Traceback */
.highlight-pygments-murphy .kc { color: #228899; font-weight: bold } /* Keyword.Constant */
.highlight-pygments-murphy .kd { color: #228899; font-weight: bold } /* Keyword.Declaration */
.highlight-pygments-murphy .kn { color: #228899; font-weight: bold } /* Keyword.Namespace */
.highlight-pygments-murphy .kp { color: #0088ff; font-weight: bold } /* Keyword.Pseudo */
.highlight-pygments-murphy .kr { color: #228899; font-weight: bold } /* Keyword.Reserved */
.highlight-pygments-murphy .kt { color: #6666ff; font-weight: bold } /* Keyword.Type */
.highlight-pygments-murphy .m { color: #6600EE; font-weight: bold } /* Literal.Number */
.highlight-pygments-murphy .s { background-color: #e0e0ff } /* Literal.String */
.highlight-pygments-murphy .na { color: #000077 } /* Name.Attribute */
.highlight-pygments-murphy .nb { color: #007722 } /* Name.Builtin */
.highlight-pygments-murphy .nc { color: #ee99ee; font-weight: bold } /* Name.Class */
.highlight-pygments-murphy .no { color: #55eedd; font-weight: bold } /* Name.Constant */
.highlight-pygments-murphy .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.highlight-pygments-murphy .ni { color: #880000 } /* Name.Entity */
.highlight-pygments-murphy .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
.highlight-pygments-murphy .nf { color: #55eedd; font-weight: bold } /* Name.Function */
.highlight-pygments-murphy .nl { color: #997700; font-weight: bold } /* Name.Label */
.highlight-pygments-murphy .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.highlight-pygments-murphy .nt { color: #007700 } /* Name.Tag */
.highlight-pygments-murphy .nv { color: #003366 } /* Name.Variable */
.highlight-pygments-murphy .ow { color: #000000; font-weight: bold } /* Operator.Word */
.highlight-pygments-murphy .w { color: #bbbbbb } /* Text.Whitespace */
.highlight-pygments-murphy .mb { color: #6600EE; font-weight: bold } /* Literal.Number.Bin */
.highlight-pygments-murphy .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
.highlight-pygments-murphy .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
.highlight-pygments-murphy .mi { color: #6666ff; font-weight: bold } /* Literal.Number.Integer */
.highlight-pygments-murphy .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
.highlight-pygments-murphy .sa { background-color: #e0e0ff } /* Literal.String.Affix */
.highlight-pygments-murphy .sb { background-color: #e0e0ff } /* Literal.String.Backtick */
.highlight-pygments-murphy .sc { color: #8888FF } /* Literal.String.Char */
.highlight-pygments-murphy .dl { background-color: #e0e0ff } /* Literal.String.Delimiter */
.highlight-pygments-murphy .sd { color: #DD4422 } /* Literal.String.Doc */
.highlight-pygments-murphy .s2 { background-color: #e0e0ff } /* Literal.String.Double */
.highlight-pygments-murphy .se { color: #666666; font-weight: bold; background-color: #e0e0ff } /* Literal.String.Escape */
.highlight-pygments-murphy .sh { background-color: #e0e0ff } /* Literal.String.Heredoc */
.highlight-pygments-murphy .si { background-color: #eeeeee } /* Literal.String.Interpol */
.highlight-pygments-murphy .sx { color: #ff8888; background-color: #e0e0ff } /* Literal.String.Other */
.highlight-pygments-murphy .sr { color: #000000; background-color: #e0e0ff } /* Literal.String.Regex */
.highlight-pygments-murphy .s1 { background-color: #e0e0ff } /* Literal.String.Single */
.highlight-pygments-murphy .ss { color: #ffcc88 } /* Literal.String.Symbol */
.highlight-pygments-murphy .bp { color: #007722 } /* Name.Builtin.Pseudo */
.highlight-pygments-murphy .fm { color: #55eedd; font-weight: bold } /* Name.Function.Magic */
.highlight-pygments-murphy .vc { color: #ccccff } /* Name.Variable.Class */
.highlight-pygments-murphy .vg { color: #ff8844 } /* Name.Variable.Global */
.highlight-pygments-murphy .vi { color: #aaaaff } /* Name.Variable.Instance */
.highlight-pygments-murphy .vm { color: #003366 } /* Name.Variable.Magic */
.highlight-pygments-murphy .il { color: #6666ff; font-weight: bold } /* Literal.Number.Integer.Long */
