pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight-pygments-one-dark .hll { background-color: #ffffcc }
.highlight-pygments-one-dark { background: #282C34; color: #ABB2BF }
.highlight-pygments-one-dark .c { color: #7F848E } /* Comment */
.highlight-pygments-one-dark .err { color: #ABB2BF } /* Error */
.highlight-pygments-one-dark .esc { color: #ABB2BF } /* Escape */
.highlight-pygments-one-dark .g { color: #ABB2BF } /* Generic */
.highlight-pygments-one-dark .k { color: #C678DD } /* Keyword */
.highlight-pygments-one-dark .l { color: #ABB2BF } /* Literal */
.highlight-pygments-one-dark .n { color: #E06C75 } /* Name */
.highlight-pygments-one-dark .o { color: #56B6C2 } /* Operator */
.highlight-pygments-one-dark .x { color: #ABB2BF } /* Other */
.highlight-pygments-one-dark .p { color: #ABB2BF } /* Punctuation */
.highlight-pygments-one-dark .ch { color: #7F848E } /* Comment.Hashbang */
.highlight-pygments-one-dark .cm { color: #7F848E } /* Comment.Multiline */
.highlight-pygments-one-dark .cp { color: #7F848E } /* Comment.Preproc */
.highlight-pygments-one-dark .cpf { color: #7F848E } /* Comment.PreprocFile */
.highlight-pygments-one-dark .c1 { color: #7F848E } /* Comment.Single */
.highlight-pygments-one-dark .cs { color: #7F848E } /* Comment.Special */
.highlight-pygments-one-dark .gd { color: #ABB2BF } /* Generic.Deleted */
.highlight-pygments-one-dark .ge { color: #ABB2BF } /* Generic.Emph */
.highlight-pygments-one-dark .gr { color: #ABB2BF } /* Generic.Error */
.highlight-pygments-one-dark .gh { color: #ABB2BF } /* Generic.Heading */
.highlight-pygments-one-dark .gi { color: #ABB2BF } /* Generic.Inserted */
.highlight-pygments-one-dark .go { color: #ABB2BF } /* Generic.Output */
.highlight-pygments-one-dark .gp { color: #ABB2BF } /* Generic.Prompt */
.highlight-pygments-one-dark .gs { color: #ABB2BF } /* Generic.Strong */
.highlight-pygments-one-dark .gu { color: #ABB2BF } /* Generic.Subheading */
.highlight-pygments-one-dark .gt { color: #ABB2BF } /* Generic.Traceback */
.highlight-pygments-one-dark .kc { color: #E5C07B } /* Keyword.Constant */
.highlight-pygments-one-dark .kd { color: #C678DD } /* Keyword.Declaration */
.highlight-pygments-one-dark .kn { color: #C678DD } /* Keyword.Namespace */
.highlight-pygments-one-dark .kp { color: #C678DD } /* Keyword.Pseudo */
.highlight-pygments-one-dark .kr { color: #C678DD } /* Keyword.Reserved */
.highlight-pygments-one-dark .kt { color: #E5C07B } /* Keyword.Type */
.highlight-pygments-one-dark .ld { color: #ABB2BF } /* Literal.Date */
.highlight-pygments-one-dark .m { color: #D19A66 } /* Literal.Number */
.highlight-pygments-one-dark .s { color: #98C379 } /* Literal.String */
.highlight-pygments-one-dark .na { color: #E06C75 } /* Name.Attribute */
.highlight-pygments-one-dark .nb { color: #E5C07B } /* Name.Builtin */
.highlight-pygments-one-dark .nc { color: #E5C07B } /* Name.Class */
.highlight-pygments-one-dark .no { color: #E06C75 } /* Name.Constant */
.highlight-pygments-one-dark .nd { color: #61AFEF } /* Name.Decorator */
.highlight-pygments-one-dark .ni { color: #E06C75 } /* Name.Entity */
.highlight-pygments-one-dark .ne { color: #E06C75 } /* Name.Exception */
.highlight-pygments-one-dark .nf { color: #61AFEF; font-weight: bold } /* Name.Function */
.highlight-pygments-one-dark .nl { color: #E06C75 } /* Name.Label */
.highlight-pygments-one-dark .nn { color: #E06C75 } /* Name.Namespace */
.highlight-pygments-one-dark .nx { color: #E06C75 } /* Name.Other */
.highlight-pygments-one-dark .py { color: #E06C75 } /* Name.Property */
.highlight-pygments-one-dark .nt { color: #E06C75 } /* Name.Tag */
.highlight-pygments-one-dark .nv { color: #E06C75 } /* Name.Variable */
.highlight-pygments-one-dark .ow { color: #56B6C2 } /* Operator.Word */
.highlight-pygments-one-dark .pm { color: #ABB2BF } /* Punctuation.Marker */
.highlight-pygments-one-dark .w { color: #ABB2BF } /* Text.Whitespace */
.highlight-pygments-one-dark .mb { color: #D19A66 } /* Literal.Number.Bin */
.highlight-pygments-one-dark .mf { color: #D19A66 } /* Literal.Number.Float */
.highlight-pygments-one-dark .mh { color: #D19A66 } /* Literal.Number.Hex */
.highlight-pygments-one-dark .mi { color: #D19A66 } /* Literal.Number.Integer */
.highlight-pygments-one-dark .mo { color: #D19A66 } /* Literal.Number.Oct */
.highlight-pygments-one-dark .sa { color: #98C379 } /* Literal.String.Affix */
.highlight-pygments-one-dark .sb { color: #98C379 } /* Literal.String.Backtick */
.highlight-pygments-one-dark .sc { color: #98C379 } /* Literal.String.Char */
.highlight-pygments-one-dark .dl { color: #98C379 } /* Literal.String.Delimiter */
.highlight-pygments-one-dark .sd { color: #98C379 } /* Literal.String.Doc */
.highlight-pygments-one-dark .s2 { color: #98C379 } /* Literal.String.Double */
.highlight-pygments-one-dark .se { color: #98C379 } /* Literal.String.Escape */
.highlight-pygments-one-dark .sh { color: #98C379 } /* Literal.String.Heredoc */
.highlight-pygments-one-dark .si { color: #98C379 } /* Literal.String.Interpol */
.highlight-pygments-one-dark .sx { color: #98C379 } /* Literal.String.Other */
.highlight-pygments-one-dark .sr { color: #98C379 } /* Literal.String.Regex */
.highlight-pygments-one-dark .s1 { color: #98C379 } /* Literal.String.Single */
.highlight-pygments-one-dark .ss { color: #98C379 } /* Literal.String.Symbol */
.highlight-pygments-one-dark .bp { color: #E5C07B } /* Name.Builtin.Pseudo */
.highlight-pygments-one-dark .fm { color: #56B6C2; font-weight: bold } /* Name.Function.Magic */
.highlight-pygments-one-dark .vc { color: #E06C75 } /* Name.Variable.Class */
.highlight-pygments-one-dark .vg { color: #E06C75 } /* Name.Variable.Global */
.highlight-pygments-one-dark .vi { color: #E06C75 } /* Name.Variable.Instance */
.highlight-pygments-one-dark .vm { color: #E06C75 } /* Name.Variable.Magic */
.highlight-pygments-one-dark .il { color: #D19A66 } /* Literal.Number.Integer.Long */
