pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight-pygments-rainbow_dash .hll { background-color: #ffffcc }
.highlight-pygments-rainbow_dash { background: #ffffff; color: #4d4d4d }
.highlight-pygments-rainbow_dash .c { color: #0080ff; font-style: italic } /* Comment */
.highlight-pygments-rainbow_dash .err { color: #ffffff; background-color: #cc0000 } /* Error */
.highlight-pygments-rainbow_dash .k { color: #2c5dcd; font-weight: bold } /* Keyword */
.highlight-pygments-rainbow_dash .o { color: #2c5dcd } /* Operator */
.highlight-pygments-rainbow_dash .ch { color: #0080ff; font-style: italic } /* Comment.Hashbang */
.highlight-pygments-rainbow_dash .cm { color: #0080ff; font-style: italic } /* Comment.Multiline */
.highlight-pygments-rainbow_dash .cp { color: #0080ff } /* Comment.Preproc */
.highlight-pygments-rainbow_dash .cpf { color: #0080ff; font-style: italic } /* Comment.PreprocFile */
.highlight-pygments-rainbow_dash .c1 { color: #0080ff; font-style: italic } /* Comment.Single */
.highlight-pygments-rainbow_dash .cs { color: #0080ff; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight-pygments-rainbow_dash .gd { background-color: #ffcccc; border: 1px solid #c5060b } /* Generic.Deleted */
.highlight-pygments-rainbow_dash .ge { font-style: italic } /* Generic.Emph */
.highlight-pygments-rainbow_dash .gr { color: #ff0000 } /* Generic.Error */
.highlight-pygments-rainbow_dash .gh { color: #2c5dcd; font-weight: bold } /* Generic.Heading */
.highlight-pygments-rainbow_dash .gi { background-color: #ccffcc; border: 1px solid #00cc00 } /* Generic.Inserted */
.highlight-pygments-rainbow_dash .go { color: #aaaaaa } /* Generic.Output */
.highlight-pygments-rainbow_dash .gp { color: #2c5dcd; font-weight: bold } /* Generic.Prompt */
.highlight-pygments-rainbow_dash .gs { font-weight: bold } /* Generic.Strong */
.highlight-pygments-rainbow_dash .gu { color: #2c5dcd; font-weight: bold } /* Generic.Subheading */
.highlight-pygments-rainbow_dash .gt { color: #c5060b } /* Generic.Traceback */
.highlight-pygments-rainbow_dash .kc { color: #2c5dcd; font-weight: bold } /* Keyword.Constant */
.highlight-pygments-rainbow_dash .kd { color: #2c5dcd; font-weight: bold } /* Keyword.Declaration */
.highlight-pygments-rainbow_dash .kn { color: #2c5dcd; font-weight: bold } /* Keyword.Namespace */
.highlight-pygments-rainbow_dash .kp { color: #2c5dcd } /* Keyword.Pseudo */
.highlight-pygments-rainbow_dash .kr { color: #2c5dcd; font-weight: bold } /* Keyword.Reserved */
.highlight-pygments-rainbow_dash .kt { color: #5918bb; font-weight: bold } /* Keyword.Type */
.highlight-pygments-rainbow_dash .m { color: #5918bb; font-weight: bold } /* Literal.Number */
.highlight-pygments-rainbow_dash .s { color: #00cc66 } /* Literal.String */
.highlight-pygments-rainbow_dash .na { color: #2c5dcd; font-style: italic } /* Name.Attribute */
.highlight-pygments-rainbow_dash .nb { color: #5918bb; font-weight: bold } /* Name.Builtin */
.highlight-pygments-rainbow_dash .nc { text-decoration: underline } /* Name.Class */
.highlight-pygments-rainbow_dash .no { color: #318495 } /* Name.Constant */
.highlight-pygments-rainbow_dash .nd { color: #ff8000; font-weight: bold } /* Name.Decorator */
.highlight-pygments-rainbow_dash .ni { color: #5918bb; font-weight: bold } /* Name.Entity */
.highlight-pygments-rainbow_dash .ne { color: #5918bb; font-weight: bold } /* Name.Exception */
.highlight-pygments-rainbow_dash .nf { color: #ff8000; font-weight: bold } /* Name.Function */
.highlight-pygments-rainbow_dash .nt { color: #2c5dcd; font-weight: bold } /* Name.Tag */
.highlight-pygments-rainbow_dash .ow { color: #2c5dcd; font-weight: bold } /* Operator.Word */
.highlight-pygments-rainbow_dash .w { color: #cbcbcb } /* Text.Whitespace */
.highlight-pygments-rainbow_dash .mb { color: #5918bb; font-weight: bold } /* Literal.Number.Bin */
.highlight-pygments-rainbow_dash .mf { color: #5918bb; font-weight: bold } /* Literal.Number.Float */
.highlight-pygments-rainbow_dash .mh { color: #5918bb; font-weight: bold } /* Literal.Number.Hex */
.highlight-pygments-rainbow_dash .mi { color: #5918bb; font-weight: bold } /* Literal.Number.Integer */
.highlight-pygments-rainbow_dash .mo { color: #5918bb; font-weight: bold } /* Literal.Number.Oct */
.highlight-pygments-rainbow_dash .sa { color: #00cc66 } /* Literal.String.Affix */
.highlight-pygments-rainbow_dash .sb { color: #00cc66 } /* Literal.String.Backtick */
.highlight-pygments-rainbow_dash .sc { color: #00cc66 } /* Literal.String.Char */
.highlight-pygments-rainbow_dash .dl { color: #00cc66 } /* Literal.String.Delimiter */
.highlight-pygments-rainbow_dash .sd { color: #00cc66; font-style: italic } /* Literal.String.Doc */
.highlight-pygments-rainbow_dash .s2 { color: #00cc66 } /* Literal.String.Double */
.highlight-pygments-rainbow_dash .se { color: #c5060b; font-weight: bold } /* Literal.String.Escape */
.highlight-pygments-rainbow_dash .sh { color: #00cc66 } /* Literal.String.Heredoc */
.highlight-pygments-rainbow_dash .si { color: #00cc66 } /* Literal.String.Interpol */
.highlight-pygments-rainbow_dash .sx { color: #318495 } /* Literal.String.Other */
.highlight-pygments-rainbow_dash .sr { color: #00cc66 } /* Literal.String.Regex */
.highlight-pygments-rainbow_dash .s1 { color: #00cc66 } /* Literal.String.Single */
.highlight-pygments-rainbow_dash .ss { color: #c5060b; font-weight: bold } /* Literal.String.Symbol */
.highlight-pygments-rainbow_dash .bp { color: #5918bb; font-weight: bold } /* Name.Builtin.Pseudo */
.highlight-pygments-rainbow_dash .fm { color: #ff8000; font-weight: bold } /* Name.Function.Magic */
.highlight-pygments-rainbow_dash .il { color: #5918bb; font-weight: bold } /* Literal.Number.Integer.Long */
