pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight-pygments-stata .hll { background-color: #ffffcc }
.highlight-pygments-stata { background: #ffffff; color: #111111 }
.highlight-pygments-stata .c { color: #008800; font-style: italic } /* Comment */
.highlight-pygments-stata .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight-pygments-stata .k { color: #353580; font-weight: bold } /* Keyword */
.highlight-pygments-stata .ch { color: #008800; font-style: italic } /* Comment.Hashbang */
.highlight-pygments-stata .cm { color: #008800; font-style: italic } /* Comment.Multiline */
.highlight-pygments-stata .cp { color: #008800; font-style: italic } /* Comment.Preproc */
.highlight-pygments-stata .cpf { color: #008800; font-style: italic } /* Comment.PreprocFile */
.highlight-pygments-stata .c1 { color: #008800; font-style: italic } /* Comment.Single */
.highlight-pygments-stata .cs { color: #008800; font-style: italic } /* Comment.Special */
.highlight-pygments-stata .kc { color: #353580; font-weight: bold } /* Keyword.Constant */
.highlight-pygments-stata .kd { color: #353580; font-weight: bold } /* Keyword.Declaration */
.highlight-pygments-stata .kn { color: #353580; font-weight: bold } /* Keyword.Namespace */
.highlight-pygments-stata .kp { color: #353580; font-weight: bold } /* Keyword.Pseudo */
.highlight-pygments-stata .kr { color: #353580; font-weight: bold } /* Keyword.Reserved */
.highlight-pygments-stata .kt { color: #353580; font-weight: bold } /* Keyword.Type */
.highlight-pygments-stata .m { color: #2c2cff } /* Literal.Number */
.highlight-pygments-stata .s { color: #7a2424 } /* Literal.String */
.highlight-pygments-stata .nf { color: #2c2cff } /* Name.Function */
.highlight-pygments-stata .nx { color: #be646c } /* Name.Other */
.highlight-pygments-stata .nv { color: #35baba; font-weight: bold } /* Name.Variable */
.highlight-pygments-stata .w { color: #bbbbbb } /* Text.Whitespace */
.highlight-pygments-stata .mb { color: #2c2cff } /* Literal.Number.Bin */
.highlight-pygments-stata .mf { color: #2c2cff } /* Literal.Number.Float */
.highlight-pygments-stata .mh { color: #2c2cff } /* Literal.Number.Hex */
.highlight-pygments-stata .mi { color: #2c2cff } /* Literal.Number.Integer */
.highlight-pygments-stata .mo { color: #2c2cff } /* Literal.Number.Oct */
.highlight-pygments-stata .sa { color: #7a2424 } /* Literal.String.Affix */
.highlight-pygments-stata .sb { color: #7a2424 } /* Literal.String.Backtick */
.highlight-pygments-stata .sc { color: #7a2424 } /* Literal.String.Char */
.highlight-pygments-stata .dl { color: #7a2424 } /* Literal.String.Delimiter */
.highlight-pygments-stata .sd { color: #7a2424 } /* Literal.String.Doc */
.highlight-pygments-stata .s2 { color: #7a2424 } /* Literal.String.Double */
.highlight-pygments-stata .se { color: #7a2424 } /* Literal.String.Escape */
.highlight-pygments-stata .sh { color: #7a2424 } /* Literal.String.Heredoc */
.highlight-pygments-stata .si { color: #7a2424 } /* Literal.String.Interpol */
.highlight-pygments-stata .sx { color: #7a2424 } /* Literal.String.Other */
.highlight-pygments-stata .sr { color: #7a2424 } /* Literal.String.Regex */
.highlight-pygments-stata .s1 { color: #7a2424 } /* Literal.String.Single */
.highlight-pygments-stata .ss { color: #7a2424 } /* Literal.String.Symbol */
.highlight-pygments-stata .fm { color: #2c2cff } /* Name.Function.Magic */
.highlight-pygments-stata .vc { color: #35baba; font-weight: bold } /* Name.Variable.Class */
.highlight-pygments-stata .vg { color: #b5565e; font-weight: bold } /* Name.Variable.Global */
.highlight-pygments-stata .vi { color: #35baba; font-weight: bold } /* Name.Variable.Instance */
.highlight-pygments-stata .vm { color: #35baba; font-weight: bold } /* Name.Variable.Magic */
.highlight-pygments-stata .il { color: #2c2cff } /* Literal.Number.Integer.Long */
