pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight-pygments-gruvbox-light .hll { background-color: #3c3836 }
.highlight-pygments-gruvbox-light { background: #fbf1c7; }
.highlight-pygments-gruvbox-light .c { color: #928374; font-style: italic } /* Comment */
.highlight-pygments-gruvbox-light .err { color: #fbf1c7; background-color: #9d0006 } /* Error */
.highlight-pygments-gruvbox-light .k { color: #9d0006 } /* Keyword */
.highlight-pygments-gruvbox-light .ch { color: #928374; font-style: italic } /* Comment.Hashbang */
.highlight-pygments-gruvbox-light .cm { color: #928374; font-style: italic } /* Comment.Multiline */
.highlight-pygments-gruvbox-light .c-PreProc { color: #427b58; font-style: italic } /* Comment.PreProc */
.highlight-pygments-gruvbox-light .cp { color: #928374; font-style: italic } /* Comment.Preproc */
.highlight-pygments-gruvbox-light .cpf { color: #928374; font-style: italic } /* Comment.PreprocFile */
.highlight-pygments-gruvbox-light .c1 { color: #928374; font-style: italic } /* Comment.Single */
.highlight-pygments-gruvbox-light .cs { color: #3c3836; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight-pygments-gruvbox-light .gd { color: #fbf1c7; background-color: #9d0006 } /* Generic.Deleted */
.highlight-pygments-gruvbox-light .ge { font-style: italic } /* Generic.Emph */
.highlight-pygments-gruvbox-light .gr { color: #9d0006 } /* Generic.Error */
.highlight-pygments-gruvbox-light .gh { color: #3c3836; font-weight: bold } /* Generic.Heading */
.highlight-pygments-gruvbox-light .gi { color: #fbf1c7; background-color: #79740e } /* Generic.Inserted */
.highlight-pygments-gruvbox-light .go { color: #32302f } /* Generic.Output */
.highlight-pygments-gruvbox-light .gp { color: #7c6f64 } /* Generic.Prompt */
.highlight-pygments-gruvbox-light .gs { font-weight: bold } /* Generic.Strong */
.highlight-pygments-gruvbox-light .gu { color: #3c3836; text-decoration: underline } /* Generic.Subheading */
.highlight-pygments-gruvbox-light .gt { color: #9d0006 } /* Generic.Traceback */
.highlight-pygments-gruvbox-light .kc { color: #9d0006 } /* Keyword.Constant */
.highlight-pygments-gruvbox-light .kd { color: #9d0006 } /* Keyword.Declaration */
.highlight-pygments-gruvbox-light .kn { color: #9d0006 } /* Keyword.Namespace */
.highlight-pygments-gruvbox-light .kp { color: #9d0006 } /* Keyword.Pseudo */
.highlight-pygments-gruvbox-light .kr { color: #9d0006 } /* Keyword.Reserved */
.highlight-pygments-gruvbox-light .kt { color: #9d0006 } /* Keyword.Type */
.highlight-pygments-gruvbox-light .m { color: #8f3f71 } /* Literal.Number */
.highlight-pygments-gruvbox-light .s { color: #79740e } /* Literal.String */
.highlight-pygments-gruvbox-light .na { color: #b57614 } /* Name.Attribute */
.highlight-pygments-gruvbox-light .nb { color: #af3a03 } /* Name.Builtin */
.highlight-pygments-gruvbox-light .nc { color: #427b58 } /* Name.Class */
.highlight-pygments-gruvbox-light .no { color: #8f3f71 } /* Name.Constant */
.highlight-pygments-gruvbox-light .nd { color: #9d0006 } /* Name.Decorator */
.highlight-pygments-gruvbox-light .ne { color: #9d0006 } /* Name.Exception */
.highlight-pygments-gruvbox-light .nf { color: #427b58 } /* Name.Function */
.highlight-pygments-gruvbox-light .nn { color: #427b58 } /* Name.Namespace */
.highlight-pygments-gruvbox-light .nt { color: #427b58 } /* Name.Tag */
.highlight-pygments-gruvbox-light .nv { color: #076678 } /* Name.Variable */
.highlight-pygments-gruvbox-light .ow { color: #9d0006 } /* Operator.Word */
.highlight-pygments-gruvbox-light .mb { color: #8f3f71 } /* Literal.Number.Bin */
.highlight-pygments-gruvbox-light .mf { color: #8f3f71 } /* Literal.Number.Float */
.highlight-pygments-gruvbox-light .mh { color: #8f3f71 } /* Literal.Number.Hex */
.highlight-pygments-gruvbox-light .mi { color: #8f3f71 } /* Literal.Number.Integer */
.highlight-pygments-gruvbox-light .mo { color: #8f3f71 } /* Literal.Number.Oct */
.highlight-pygments-gruvbox-light .sa { color: #79740e } /* Literal.String.Affix */
.highlight-pygments-gruvbox-light .sb { color: #79740e } /* Literal.String.Backtick */
.highlight-pygments-gruvbox-light .sc { color: #79740e } /* Literal.String.Char */
.highlight-pygments-gruvbox-light .dl { color: #79740e } /* Literal.String.Delimiter */
.highlight-pygments-gruvbox-light .sd { color: #79740e } /* Literal.String.Doc */
.highlight-pygments-gruvbox-light .s2 { color: #79740e } /* Literal.String.Double */
.highlight-pygments-gruvbox-light .se { color: #af3a03 } /* Literal.String.Escape */
.highlight-pygments-gruvbox-light .sh { color: #79740e } /* Literal.String.Heredoc */
.highlight-pygments-gruvbox-light .si { color: #79740e } /* Literal.String.Interpol */
.highlight-pygments-gruvbox-light .sx { color: #79740e } /* Literal.String.Other */
.highlight-pygments-gruvbox-light .sr { color: #79740e } /* Literal.String.Regex */
.highlight-pygments-gruvbox-light .s1 { color: #79740e } /* Literal.String.Single */
.highlight-pygments-gruvbox-light .ss { color: #79740e } /* Literal.String.Symbol */
.highlight-pygments-gruvbox-light .bp { color: #af3a03 } /* Name.Builtin.Pseudo */
.highlight-pygments-gruvbox-light .fm { color: #427b58 } /* Name.Function.Magic */
.highlight-pygments-gruvbox-light .vc { color: #076678 } /* Name.Variable.Class */
.highlight-pygments-gruvbox-light .vg { color: #076678 } /* Name.Variable.Global */
.highlight-pygments-gruvbox-light .vi { color: #076678 } /* Name.Variable.Instance */
.highlight-pygments-gruvbox-light .vm { color: #076678 } /* Name.Variable.Magic */
.highlight-pygments-gruvbox-light .il { color: #8f3f71 } /* Literal.Number.Integer.Long */
