pre { line-height: 125%; }
td.linenos .normal { color: #D8DEE9; background-color: #242933; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #D8DEE9; background-color: #242933; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #242933; background-color: #D8DEE9; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #242933; background-color: #D8DEE9; padding-left: 5px; padding-right: 5px; }
.highlight-pygments-nord .hll { background-color: #3B4252 }
.highlight-pygments-nord { background: #2E3440; color: #d8dee9 }
.highlight-pygments-nord .c { color: #616e87; font-style: italic } /* Comment */
.highlight-pygments-nord .err { color: #bf616a } /* Error */
.highlight-pygments-nord .esc { color: #d8dee9 } /* Escape */
.highlight-pygments-nord .g { color: #d8dee9 } /* Generic */
.highlight-pygments-nord .k { color: #81a1c1; font-weight: bold } /* Keyword */
.highlight-pygments-nord .l { color: #d8dee9 } /* Literal */
.highlight-pygments-nord .n { color: #d8dee9 } /* Name */
.highlight-pygments-nord .o { color: #81a1c1; font-weight: bold } /* Operator */
.highlight-pygments-nord .x { color: #d8dee9 } /* Other */
.highlight-pygments-nord .p { color: #eceff4 } /* Punctuation */
.highlight-pygments-nord .ch { color: #616e87; font-style: italic } /* Comment.Hashbang */
.highlight-pygments-nord .cm { color: #616e87; font-style: italic } /* Comment.Multiline */
.highlight-pygments-nord .cp { color: #5e81ac; font-style: italic } /* Comment.Preproc */
.highlight-pygments-nord .cpf { color: #616e87; font-style: italic } /* Comment.PreprocFile */
.highlight-pygments-nord .c1 { color: #616e87; font-style: italic } /* Comment.Single */
.highlight-pygments-nord .cs { color: #616e87; font-style: italic } /* Comment.Special */
.highlight-pygments-nord .gd { color: #bf616a } /* Generic.Deleted */
.highlight-pygments-nord .ge { color: #d8dee9; font-style: italic } /* Generic.Emph */
.highlight-pygments-nord .gr { color: #bf616a } /* Generic.Error */
.highlight-pygments-nord .gh { color: #88c0d0; font-weight: bold } /* Generic.Heading */
.highlight-pygments-nord .gi { color: #a3be8c } /* Generic.Inserted */
.highlight-pygments-nord .go { color: #d8dee9 } /* Generic.Output */
.highlight-pygments-nord .gp { color: #616e88; font-weight: bold } /* Generic.Prompt */
.highlight-pygments-nord .gs { color: #d8dee9; font-weight: bold } /* Generic.Strong */
.highlight-pygments-nord .gu { color: #88c0d0; font-weight: bold } /* Generic.Subheading */
.highlight-pygments-nord .gt { color: #bf616a } /* Generic.Traceback */
.highlight-pygments-nord .kc { color: #81a1c1; font-weight: bold } /* Keyword.Constant */
.highlight-pygments-nord .kd { color: #81a1c1; font-weight: bold } /* Keyword.Declaration */
.highlight-pygments-nord .kn { color: #81a1c1; font-weight: bold } /* Keyword.Namespace */
.highlight-pygments-nord .kp { color: #81a1c1 } /* Keyword.Pseudo */
.highlight-pygments-nord .kr { color: #81a1c1; font-weight: bold } /* Keyword.Reserved */
.highlight-pygments-nord .kt { color: #81a1c1 } /* Keyword.Type */
.highlight-pygments-nord .ld { color: #d8dee9 } /* Literal.Date */
.highlight-pygments-nord .m { color: #b48ead } /* Literal.Number */
.highlight-pygments-nord .s { color: #a3be8c } /* Literal.String */
.highlight-pygments-nord .na { color: #8fbcbb } /* Name.Attribute */
.highlight-pygments-nord .nb { color: #81a1c1 } /* Name.Builtin */
.highlight-pygments-nord .nc { color: #8fbcbb } /* Name.Class */
.highlight-pygments-nord .no { color: #8fbcbb } /* Name.Constant */
.highlight-pygments-nord .nd { color: #d08770 } /* Name.Decorator */
.highlight-pygments-nord .ni { color: #d08770 } /* Name.Entity */
.highlight-pygments-nord .ne { color: #bf616a } /* Name.Exception */
.highlight-pygments-nord .nf { color: #88c0d0 } /* Name.Function */
.highlight-pygments-nord .nl { color: #d8dee9 } /* Name.Label */
.highlight-pygments-nord .nn { color: #8fbcbb } /* Name.Namespace */
.highlight-pygments-nord .nx { color: #d8dee9 } /* Name.Other */
.highlight-pygments-nord .py { color: #d8dee9 } /* Name.Property */
.highlight-pygments-nord .nt { color: #81a1c1 } /* Name.Tag */
.highlight-pygments-nord .nv { color: #d8dee9 } /* Name.Variable */
.highlight-pygments-nord .ow { color: #81a1c1; font-weight: bold } /* Operator.Word */
.highlight-pygments-nord .pm { color: #eceff4 } /* Punctuation.Marker */
.highlight-pygments-nord .w { color: #d8dee9 } /* Text.Whitespace */
.highlight-pygments-nord .mb { color: #b48ead } /* Literal.Number.Bin */
.highlight-pygments-nord .mf { color: #b48ead } /* Literal.Number.Float */
.highlight-pygments-nord .mh { color: #b48ead } /* Literal.Number.Hex */
.highlight-pygments-nord .mi { color: #b48ead } /* Literal.Number.Integer */
.highlight-pygments-nord .mo { color: #b48ead } /* Literal.Number.Oct */
.highlight-pygments-nord .sa { color: #a3be8c } /* Literal.String.Affix */
.highlight-pygments-nord .sb { color: #a3be8c } /* Literal.String.Backtick */
.highlight-pygments-nord .sc { color: #a3be8c } /* Literal.String.Char */
.highlight-pygments-nord .dl { color: #a3be8c } /* Literal.String.Delimiter */
.highlight-pygments-nord .sd { color: #616e87 } /* Literal.String.Doc */
.highlight-pygments-nord .s2 { color: #a3be8c } /* Literal.String.Double */
.highlight-pygments-nord .se { color: #ebcb8b } /* Literal.String.Escape */
.highlight-pygments-nord .sh { color: #a3be8c } /* Literal.String.Heredoc */
.highlight-pygments-nord .si { color: #a3be8c } /* Literal.String.Interpol */
.highlight-pygments-nord .sx { color: #a3be8c } /* Literal.String.Other */
.highlight-pygments-nord .sr { color: #ebcb8b } /* Literal.String.Regex */
.highlight-pygments-nord .s1 { color: #a3be8c } /* Literal.String.Single */
.highlight-pygments-nord .ss { color: #a3be8c } /* Literal.String.Symbol */
.highlight-pygments-nord .bp { color: #81a1c1 } /* Name.Builtin.Pseudo */
.highlight-pygments-nord .fm { color: #88c0d0 } /* Name.Function.Magic */
.highlight-pygments-nord .vc { color: #d8dee9 } /* Name.Variable.Class */
.highlight-pygments-nord .vg { color: #d8dee9 } /* Name.Variable.Global */
.highlight-pygments-nord .vi { color: #d8dee9 } /* Name.Variable.Instance */
.highlight-pygments-nord .vm { color: #d8dee9 } /* Name.Variable.Magic */
.highlight-pygments-nord .il { color: #b48ead } /* Literal.Number.Integer.Long */
