pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight-pygments-bw .hll { background-color: #ffffcc }
.highlight-pygments-bw { background: #ffffff; }
.highlight-pygments-bw .c { font-style: italic } /* Comment */
.highlight-pygments-bw .err { border: 1px solid #FF0000 } /* Error */
.highlight-pygments-bw .k { font-weight: bold } /* Keyword */
.highlight-pygments-bw .ch { font-style: italic } /* Comment.Hashbang */
.highlight-pygments-bw .cm { font-style: italic } /* Comment.Multiline */
.highlight-pygments-bw .cpf { font-style: italic } /* Comment.PreprocFile */
.highlight-pygments-bw .c1 { font-style: italic } /* Comment.Single */
.highlight-pygments-bw .cs { font-style: italic } /* Comment.Special */
.highlight-pygments-bw .ge { font-style: italic } /* Generic.Emph */
.highlight-pygments-bw .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.highlight-pygments-bw .gh { font-weight: bold } /* Generic.Heading */
.highlight-pygments-bw .gp { font-weight: bold } /* Generic.Prompt */
.highlight-pygments-bw .gs { font-weight: bold } /* Generic.Strong */
.highlight-pygments-bw .gu { font-weight: bold } /* Generic.Subheading */
.highlight-pygments-bw .kc { font-weight: bold } /* Keyword.Constant */
.highlight-pygments-bw .kd { font-weight: bold } /* Keyword.Declaration */
.highlight-pygments-bw .kn { font-weight: bold } /* Keyword.Namespace */
.highlight-pygments-bw .kr { font-weight: bold } /* Keyword.Reserved */
.highlight-pygments-bw .s { font-style: italic } /* Literal.String */
.highlight-pygments-bw .nc { font-weight: bold } /* Name.Class */
.highlight-pygments-bw .ni { font-weight: bold } /* Name.Entity */
.highlight-pygments-bw .ne { font-weight: bold } /* Name.Exception */
.highlight-pygments-bw .nn { font-weight: bold } /* Name.Namespace */
.highlight-pygments-bw .nt { font-weight: bold } /* Name.Tag */
.highlight-pygments-bw .ow { font-weight: bold } /* Operator.Word */
.highlight-pygments-bw .sa { font-style: italic } /* Literal.String.Affix */
.highlight-pygments-bw .sb { font-style: italic } /* Literal.String.Backtick */
.highlight-pygments-bw .sc { font-style: italic } /* Literal.String.Char */
.highlight-pygments-bw .dl { font-style: italic } /* Literal.String.Delimiter */
.highlight-pygments-bw .sd { font-style: italic } /* Literal.String.Doc */
.highlight-pygments-bw .s2 { font-style: italic } /* Literal.String.Double */
.highlight-pygments-bw .se { font-weight: bold; font-style: italic } /* Literal.String.Escape */
.highlight-pygments-bw .sh { font-style: italic } /* Literal.String.Heredoc */
.highlight-pygments-bw .si { font-weight: bold; font-style: italic } /* Literal.String.Interpol */
.highlight-pygments-bw .sx { font-style: italic } /* Literal.String.Other */
.highlight-pygments-bw .sr { font-style: italic } /* Literal.String.Regex */
.highlight-pygments-bw .s1 { font-style: italic } /* Literal.String.Single */
.highlight-pygments-bw .ss { font-style: italic } /* Literal.String.Symbol */
