pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight-pygments-lovelace .hll { background-color: #ffffcc }
.highlight-pygments-lovelace { background: #ffffff; }
.highlight-pygments-lovelace .c { color: #888888; font-style: italic } /* Comment */
.highlight-pygments-lovelace .err { background-color: #a848a8 } /* Error */
.highlight-pygments-lovelace .k { color: #2838b0 } /* Keyword */
.highlight-pygments-lovelace .o { color: #666666 } /* Operator */
.highlight-pygments-lovelace .p { color: #888888 } /* Punctuation */
.highlight-pygments-lovelace .ch { color: #287088; font-style: italic } /* Comment.Hashbang */
.highlight-pygments-lovelace .cm { color: #888888; font-style: italic } /* Comment.Multiline */
.highlight-pygments-lovelace .cp { color: #289870 } /* Comment.Preproc */
.highlight-pygments-lovelace .cpf { color: #888888; font-style: italic } /* Comment.PreprocFile */
.highlight-pygments-lovelace .c1 { color: #888888; font-style: italic } /* Comment.Single */
.highlight-pygments-lovelace .cs { color: #888888; font-style: italic } /* Comment.Special */
.highlight-pygments-lovelace .gd { color: #c02828 } /* Generic.Deleted */
.highlight-pygments-lovelace .ge { font-style: italic } /* Generic.Emph */
.highlight-pygments-lovelace .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.highlight-pygments-lovelace .gr { color: #c02828 } /* Generic.Error */
.highlight-pygments-lovelace .gh { color: #666666 } /* Generic.Heading */
.highlight-pygments-lovelace .gi { color: #388038 } /* Generic.Inserted */
.highlight-pygments-lovelace .go { color: #666666 } /* Generic.Output */
.highlight-pygments-lovelace .gp { color: #444444 } /* Generic.Prompt */
.highlight-pygments-lovelace .gs { font-weight: bold } /* Generic.Strong */
.highlight-pygments-lovelace .gu { color: #444444 } /* Generic.Subheading */
.highlight-pygments-lovelace .gt { color: #2838b0 } /* Generic.Traceback */
.highlight-pygments-lovelace .kc { color: #444444; font-style: italic } /* Keyword.Constant */
.highlight-pygments-lovelace .kd { color: #2838b0; font-style: italic } /* Keyword.Declaration */
.highlight-pygments-lovelace .kn { color: #2838b0 } /* Keyword.Namespace */
.highlight-pygments-lovelace .kp { color: #2838b0 } /* Keyword.Pseudo */
.highlight-pygments-lovelace .kr { color: #2838b0 } /* Keyword.Reserved */
.highlight-pygments-lovelace .kt { color: #2838b0; font-style: italic } /* Keyword.Type */
.highlight-pygments-lovelace .m { color: #444444 } /* Literal.Number */
.highlight-pygments-lovelace .s { color: #b83838 } /* Literal.String */
.highlight-pygments-lovelace .na { color: #388038 } /* Name.Attribute */
.highlight-pygments-lovelace .nb { color: #388038 } /* Name.Builtin */
.highlight-pygments-lovelace .nc { color: #287088 } /* Name.Class */
.highlight-pygments-lovelace .no { color: #b85820 } /* Name.Constant */
.highlight-pygments-lovelace .nd { color: #287088 } /* Name.Decorator */
.highlight-pygments-lovelace .ni { color: #709030 } /* Name.Entity */
.highlight-pygments-lovelace .ne { color: #908828 } /* Name.Exception */
.highlight-pygments-lovelace .nf { color: #785840 } /* Name.Function */
.highlight-pygments-lovelace .nl { color: #289870 } /* Name.Label */
.highlight-pygments-lovelace .nn { color: #289870 } /* Name.Namespace */
.highlight-pygments-lovelace .nt { color: #2838b0 } /* Name.Tag */
.highlight-pygments-lovelace .nv { color: #b04040 } /* Name.Variable */
.highlight-pygments-lovelace .ow { color: #a848a8 } /* Operator.Word */
.highlight-pygments-lovelace .pm { color: #888888 } /* Punctuation.Marker */
.highlight-pygments-lovelace .w { color: #a89028 } /* Text.Whitespace */
.highlight-pygments-lovelace .mb { color: #444444 } /* Literal.Number.Bin */
.highlight-pygments-lovelace .mf { color: #444444 } /* Literal.Number.Float */
.highlight-pygments-lovelace .mh { color: #444444 } /* Literal.Number.Hex */
.highlight-pygments-lovelace .mi { color: #444444 } /* Literal.Number.Integer */
.highlight-pygments-lovelace .mo { color: #444444 } /* Literal.Number.Oct */
.highlight-pygments-lovelace .sa { color: #444444 } /* Literal.String.Affix */
.highlight-pygments-lovelace .sb { color: #b83838 } /* Literal.String.Backtick */
.highlight-pygments-lovelace .sc { color: #a848a8 } /* Literal.String.Char */
.highlight-pygments-lovelace .dl { color: #b85820 } /* Literal.String.Delimiter */
.highlight-pygments-lovelace .sd { color: #b85820; font-style: italic } /* Literal.String.Doc */
.highlight-pygments-lovelace .s2 { color: #b83838 } /* Literal.String.Double */
.highlight-pygments-lovelace .se { color: #709030 } /* Literal.String.Escape */
.highlight-pygments-lovelace .sh { color: #b83838 } /* Literal.String.Heredoc */
.highlight-pygments-lovelace .si { color: #b83838; text-decoration: underline } /* Literal.String.Interpol */
.highlight-pygments-lovelace .sx { color: #a848a8 } /* Literal.String.Other */
.highlight-pygments-lovelace .sr { color: #a848a8 } /* Literal.String.Regex */
.highlight-pygments-lovelace .s1 { color: #b83838 } /* Literal.String.Single */
.highlight-pygments-lovelace .ss { color: #b83838 } /* Literal.String.Symbol */
.highlight-pygments-lovelace .bp { color: #388038; font-style: italic } /* Name.Builtin.Pseudo */
.highlight-pygments-lovelace .fm { color: #b85820 } /* Name.Function.Magic */
.highlight-pygments-lovelace .vc { color: #b04040 } /* Name.Variable.Class */
.highlight-pygments-lovelace .vg { color: #908828 } /* Name.Variable.Global */
.highlight-pygments-lovelace .vi { color: #b04040 } /* Name.Variable.Instance */
.highlight-pygments-lovelace .vm { color: #b85820 } /* Name.Variable.Magic */
.highlight-pygments-lovelace .il { color: #444444 } /* Literal.Number.Integer.Long */
