pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight-pygments-manni .hll { background-color: #ffffcc }
.highlight-pygments-manni { background: #f0f3f3; }
.highlight-pygments-manni .c { color: #0099FF; font-style: italic } /* Comment */
.highlight-pygments-manni .err { color: #AA0000; background-color: #FFAAAA } /* Error */
.highlight-pygments-manni .k { color: #006699; font-weight: bold } /* Keyword */
.highlight-pygments-manni .o { color: #555555 } /* Operator */
.highlight-pygments-manni .ch { color: #0099FF; font-style: italic } /* Comment.Hashbang */
.highlight-pygments-manni .cm { color: #0099FF; font-style: italic } /* Comment.Multiline */
.highlight-pygments-manni .cp { color: #009999 } /* Comment.Preproc */
.highlight-pygments-manni .cpf { color: #0099FF; font-style: italic } /* Comment.PreprocFile */
.highlight-pygments-manni .c1 { color: #0099FF; font-style: italic } /* Comment.Single */
.highlight-pygments-manni .cs { color: #0099FF; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight-pygments-manni .gd { background-color: #FFCCCC; border: 1px solid #CC0000 } /* Generic.Deleted */
.highlight-pygments-manni .ge { font-style: italic } /* Generic.Emph */
.highlight-pygments-manni .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.highlight-pygments-manni .gr { color: #FF0000 } /* Generic.Error */
.highlight-pygments-manni .gh { color: #003300; font-weight: bold } /* Generic.Heading */
.highlight-pygments-manni .gi { background-color: #CCFFCC; border: 1px solid #00CC00 } /* Generic.Inserted */
.highlight-pygments-manni .go { color: #AAAAAA } /* Generic.Output */
.highlight-pygments-manni .gp { color: #000099; font-weight: bold } /* Generic.Prompt */
.highlight-pygments-manni .gs { font-weight: bold } /* Generic.Strong */
.highlight-pygments-manni .gu { color: #003300; font-weight: bold } /* Generic.Subheading */
.highlight-pygments-manni .gt { color: #99CC66 } /* Generic.Traceback */
.highlight-pygments-manni .kc { color: #006699; font-weight: bold } /* Keyword.Constant */
.highlight-pygments-manni .kd { color: #006699; font-weight: bold } /* Keyword.Declaration */
.highlight-pygments-manni .kn { color: #006699; font-weight: bold } /* Keyword.Namespace */
.highlight-pygments-manni .kp { color: #006699 } /* Keyword.Pseudo */
.highlight-pygments-manni .kr { color: #006699; font-weight: bold } /* Keyword.Reserved */
.highlight-pygments-manni .kt { color: #007788; font-weight: bold } /* Keyword.Type */
.highlight-pygments-manni .m { color: #FF6600 } /* Literal.Number */
.highlight-pygments-manni .s { color: #CC3300 } /* Literal.String */
.highlight-pygments-manni .na { color: #330099 } /* Name.Attribute */
.highlight-pygments-manni .nb { color: #336666 } /* Name.Builtin */
.highlight-pygments-manni .nc { color: #00AA88; font-weight: bold } /* Name.Class */
.highlight-pygments-manni .no { color: #336600 } /* Name.Constant */
.highlight-pygments-manni .nd { color: #9999FF } /* Name.Decorator */
.highlight-pygments-manni .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight-pygments-manni .ne { color: #CC0000; font-weight: bold } /* Name.Exception */
.highlight-pygments-manni .nf { color: #CC00FF } /* Name.Function */
.highlight-pygments-manni .nl { color: #9999FF } /* Name.Label */
.highlight-pygments-manni .nn { color: #00CCFF; font-weight: bold } /* Name.Namespace */
.highlight-pygments-manni .nt { color: #330099; font-weight: bold } /* Name.Tag */
.highlight-pygments-manni .nv { color: #003333 } /* Name.Variable */
.highlight-pygments-manni .ow { color: #000000; font-weight: bold } /* Operator.Word */
.highlight-pygments-manni .w { color: #bbbbbb } /* Text.Whitespace */
.highlight-pygments-manni .mb { color: #FF6600 } /* Literal.Number.Bin */
.highlight-pygments-manni .mf { color: #FF6600 } /* Literal.Number.Float */
.highlight-pygments-manni .mh { color: #FF6600 } /* Literal.Number.Hex */
.highlight-pygments-manni .mi { color: #FF6600 } /* Literal.Number.Integer */
.highlight-pygments-manni .mo { color: #FF6600 } /* Literal.Number.Oct */
.highlight-pygments-manni .sa { color: #CC3300 } /* Literal.String.Affix */
.highlight-pygments-manni .sb { color: #CC3300 } /* Literal.String.Backtick */
.highlight-pygments-manni .sc { color: #CC3300 } /* Literal.String.Char */
.highlight-pygments-manni .dl { color: #CC3300 } /* Literal.String.Delimiter */
.highlight-pygments-manni .sd { color: #CC3300; font-style: italic } /* Literal.String.Doc */
.highlight-pygments-manni .s2 { color: #CC3300 } /* Literal.String.Double */
.highlight-pygments-manni .se { color: #CC3300; font-weight: bold } /* Literal.String.Escape */
.highlight-pygments-manni .sh { color: #CC3300 } /* Literal.String.Heredoc */
.highlight-pygments-manni .si { color: #AA0000 } /* Literal.String.Interpol */
.highlight-pygments-manni .sx { color: #CC3300 } /* Literal.String.Other */
.highlight-pygments-manni .sr { color: #33AAAA } /* Literal.String.Regex */
.highlight-pygments-manni .s1 { color: #CC3300 } /* Literal.String.Single */
.highlight-pygments-manni .ss { color: #FFCC33 } /* Literal.String.Symbol */
.highlight-pygments-manni .bp { color: #336666 } /* Name.Builtin.Pseudo */
.highlight-pygments-manni .fm { color: #CC00FF } /* Name.Function.Magic */
.highlight-pygments-manni .vc { color: #003333 } /* Name.Variable.Class */
.highlight-pygments-manni .vg { color: #003333 } /* Name.Variable.Global */
.highlight-pygments-manni .vi { color: #003333 } /* Name.Variable.Instance */
.highlight-pygments-manni .vm { color: #003333 } /* Name.Variable.Magic */
.highlight-pygments-manni .il { color: #FF6600 } /* Literal.Number.Integer.Long */
