pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight-pygments-stata-dark .hll { background-color: #49483e }
.highlight-pygments-stata-dark { background: #232629; color: #cccccc }
.highlight-pygments-stata-dark .c { color: #777777; font-style: italic } /* Comment */
.highlight-pygments-stata-dark .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight-pygments-stata-dark .esc { color: #cccccc } /* Escape */
.highlight-pygments-stata-dark .g { color: #cccccc } /* Generic */
.highlight-pygments-stata-dark .k { color: #7686bb; font-weight: bold } /* Keyword */
.highlight-pygments-stata-dark .l { color: #cccccc } /* Literal */
.highlight-pygments-stata-dark .n { color: #cccccc } /* Name */
.highlight-pygments-stata-dark .o { color: #cccccc } /* Operator */
.highlight-pygments-stata-dark .x { color: #cccccc } /* Other */
.highlight-pygments-stata-dark .p { color: #cccccc } /* Punctuation */
.highlight-pygments-stata-dark .ch { color: #777777; font-style: italic } /* Comment.Hashbang */
.highlight-pygments-stata-dark .cm { color: #777777; font-style: italic } /* Comment.Multiline */
.highlight-pygments-stata-dark .cp { color: #777777; font-style: italic } /* Comment.Preproc */
.highlight-pygments-stata-dark .cpf { color: #777777; font-style: italic } /* Comment.PreprocFile */
.highlight-pygments-stata-dark .c1 { color: #777777; font-style: italic } /* Comment.Single */
.highlight-pygments-stata-dark .cs { color: #777777; font-style: italic } /* Comment.Special */
.highlight-pygments-stata-dark .gd { color: #cccccc } /* Generic.Deleted */
.highlight-pygments-stata-dark .ge { color: #cccccc } /* Generic.Emph */
.highlight-pygments-stata-dark .ges { color: #cccccc } /* Generic.EmphStrong */
.highlight-pygments-stata-dark .gr { color: #cccccc } /* Generic.Error */
.highlight-pygments-stata-dark .gh { color: #cccccc } /* Generic.Heading */
.highlight-pygments-stata-dark .gi { color: #cccccc } /* Generic.Inserted */
.highlight-pygments-stata-dark .go { color: #cccccc } /* Generic.Output */
.highlight-pygments-stata-dark .gp { color: #ffffff } /* Generic.Prompt */
.highlight-pygments-stata-dark .gs { color: #cccccc } /* Generic.Strong */
.highlight-pygments-stata-dark .gu { color: #cccccc } /* Generic.Subheading */
.highlight-pygments-stata-dark .gt { color: #cccccc } /* Generic.Traceback */
.highlight-pygments-stata-dark .kc { color: #7686bb; font-weight: bold } /* Keyword.Constant */
.highlight-pygments-stata-dark .kd { color: #7686bb; font-weight: bold } /* Keyword.Declaration */
.highlight-pygments-stata-dark .kn { color: #7686bb; font-weight: bold } /* Keyword.Namespace */
.highlight-pygments-stata-dark .kp { color: #7686bb; font-weight: bold } /* Keyword.Pseudo */
.highlight-pygments-stata-dark .kr { color: #7686bb; font-weight: bold } /* Keyword.Reserved */
.highlight-pygments-stata-dark .kt { color: #7686bb; font-weight: bold } /* Keyword.Type */
.highlight-pygments-stata-dark .ld { color: #cccccc } /* Literal.Date */
.highlight-pygments-stata-dark .m { color: #4FB8CC } /* Literal.Number */
.highlight-pygments-stata-dark .s { color: #51cc99 } /* Literal.String */
.highlight-pygments-stata-dark .na { color: #cccccc } /* Name.Attribute */
.highlight-pygments-stata-dark .nb { color: #cccccc } /* Name.Builtin */
.highlight-pygments-stata-dark .nc { color: #cccccc } /* Name.Class */
.highlight-pygments-stata-dark .no { color: #cccccc } /* Name.Constant */
.highlight-pygments-stata-dark .nd { color: #cccccc } /* Name.Decorator */
.highlight-pygments-stata-dark .ni { color: #cccccc } /* Name.Entity */
.highlight-pygments-stata-dark .ne { color: #cccccc } /* Name.Exception */
.highlight-pygments-stata-dark .nf { color: #6a6aff } /* Name.Function */
.highlight-pygments-stata-dark .nl { color: #cccccc } /* Name.Label */
.highlight-pygments-stata-dark .nn { color: #cccccc } /* Name.Namespace */
.highlight-pygments-stata-dark .nx { color: #e2828e } /* Name.Other */
.highlight-pygments-stata-dark .py { color: #cccccc } /* Name.Property */
.highlight-pygments-stata-dark .nt { color: #cccccc } /* Name.Tag */
.highlight-pygments-stata-dark .nv { color: #7AB4DB; font-weight: bold } /* Name.Variable */
.highlight-pygments-stata-dark .ow { color: #cccccc } /* Operator.Word */
.highlight-pygments-stata-dark .pm { color: #cccccc } /* Punctuation.Marker */
.highlight-pygments-stata-dark .w { color: #bbbbbb } /* Text.Whitespace */
.highlight-pygments-stata-dark .mb { color: #4FB8CC } /* Literal.Number.Bin */
.highlight-pygments-stata-dark .mf { color: #4FB8CC } /* Literal.Number.Float */
.highlight-pygments-stata-dark .mh { color: #4FB8CC } /* Literal.Number.Hex */
.highlight-pygments-stata-dark .mi { color: #4FB8CC } /* Literal.Number.Integer */
.highlight-pygments-stata-dark .mo { color: #4FB8CC } /* Literal.Number.Oct */
.highlight-pygments-stata-dark .sa { color: #51cc99 } /* Literal.String.Affix */
.highlight-pygments-stata-dark .sb { color: #51cc99 } /* Literal.String.Backtick */
.highlight-pygments-stata-dark .sc { color: #51cc99 } /* Literal.String.Char */
.highlight-pygments-stata-dark .dl { color: #51cc99 } /* Literal.String.Delimiter */
.highlight-pygments-stata-dark .sd { color: #51cc99 } /* Literal.String.Doc */
.highlight-pygments-stata-dark .s2 { color: #51cc99 } /* Literal.String.Double */
.highlight-pygments-stata-dark .se { color: #51cc99 } /* Literal.String.Escape */
.highlight-pygments-stata-dark .sh { color: #51cc99 } /* Literal.String.Heredoc */
.highlight-pygments-stata-dark .si { color: #51cc99 } /* Literal.String.Interpol */
.highlight-pygments-stata-dark .sx { color: #51cc99 } /* Literal.String.Other */
.highlight-pygments-stata-dark .sr { color: #51cc99 } /* Literal.String.Regex */
.highlight-pygments-stata-dark .s1 { color: #51cc99 } /* Literal.String.Single */
.highlight-pygments-stata-dark .ss { color: #51cc99 } /* Literal.String.Symbol */
.highlight-pygments-stata-dark .bp { color: #cccccc } /* Name.Builtin.Pseudo */
.highlight-pygments-stata-dark .fm { color: #6a6aff } /* Name.Function.Magic */
.highlight-pygments-stata-dark .vc { color: #7AB4DB; font-weight: bold } /* Name.Variable.Class */
.highlight-pygments-stata-dark .vg { color: #BE646C; font-weight: bold } /* Name.Variable.Global */
.highlight-pygments-stata-dark .vi { color: #7AB4DB; font-weight: bold } /* Name.Variable.Instance */
.highlight-pygments-stata-dark .vm { color: #7AB4DB; font-weight: bold } /* Name.Variable.Magic */
.highlight-pygments-stata-dark .il { color: #4FB8CC } /* Literal.Number.Integer.Long */
