pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight-pygments-tango .hll { background-color: #ffffcc }
.highlight-pygments-tango { background: #f8f8f8; }
.highlight-pygments-tango .c { color: #8f5902; font-style: italic } /* Comment */
.highlight-pygments-tango .err { color: #a40000; border: 1px solid #ef2929 } /* Error */
.highlight-pygments-tango .g { color: #000000 } /* Generic */
.highlight-pygments-tango .k { color: #204a87; font-weight: bold } /* Keyword */
.highlight-pygments-tango .l { color: #000000 } /* Literal */
.highlight-pygments-tango .n { color: #000000 } /* Name */
.highlight-pygments-tango .o { color: #ce5c00; font-weight: bold } /* Operator */
.highlight-pygments-tango .x { color: #000000 } /* Other */
.highlight-pygments-tango .p { color: #000000; font-weight: bold } /* Punctuation */
.highlight-pygments-tango .ch { color: #8f5902; font-style: italic } /* Comment.Hashbang */
.highlight-pygments-tango .cm { color: #8f5902; font-style: italic } /* Comment.Multiline */
.highlight-pygments-tango .cp { color: #8f5902; font-style: italic } /* Comment.Preproc */
.highlight-pygments-tango .cpf { color: #8f5902; font-style: italic } /* Comment.PreprocFile */
.highlight-pygments-tango .c1 { color: #8f5902; font-style: italic } /* Comment.Single */
.highlight-pygments-tango .cs { color: #8f5902; font-style: italic } /* Comment.Special */
.highlight-pygments-tango .gd { color: #a40000 } /* Generic.Deleted */
.highlight-pygments-tango .ge { color: #000000; font-style: italic } /* Generic.Emph */
.highlight-pygments-tango .ges { color: #000000; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.highlight-pygments-tango .gr { color: #ef2929 } /* Generic.Error */
.highlight-pygments-tango .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight-pygments-tango .gi { color: #00A000 } /* Generic.Inserted */
.highlight-pygments-tango .go { color: #000000; font-style: italic } /* Generic.Output */
.highlight-pygments-tango .gp { color: #8f5902 } /* Generic.Prompt */
.highlight-pygments-tango .gs { color: #000000; font-weight: bold } /* Generic.Strong */
.highlight-pygments-tango .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight-pygments-tango .gt { color: #a40000; font-weight: bold } /* Generic.Traceback */
.highlight-pygments-tango .kc { color: #204a87; font-weight: bold } /* Keyword.Constant */
.highlight-pygments-tango .kd { color: #204a87; font-weight: bold } /* Keyword.Declaration */
.highlight-pygments-tango .kn { color: #204a87; font-weight: bold } /* Keyword.Namespace */
.highlight-pygments-tango .kp { color: #204a87; font-weight: bold } /* Keyword.Pseudo */
.highlight-pygments-tango .kr { color: #204a87; font-weight: bold } /* Keyword.Reserved */
.highlight-pygments-tango .kt { color: #204a87; font-weight: bold } /* Keyword.Type */
.highlight-pygments-tango .ld { color: #000000 } /* Literal.Date */
.highlight-pygments-tango .m { color: #0000cf; font-weight: bold } /* Literal.Number */
.highlight-pygments-tango .s { color: #4e9a06 } /* Literal.String */
.highlight-pygments-tango .na { color: #c4a000 } /* Name.Attribute */
.highlight-pygments-tango .nb { color: #204a87 } /* Name.Builtin */
.highlight-pygments-tango .nc { color: #000000 } /* Name.Class */
.highlight-pygments-tango .no { color: #000000 } /* Name.Constant */
.highlight-pygments-tango .nd { color: #5c35cc; font-weight: bold } /* Name.Decorator */
.highlight-pygments-tango .ni { color: #ce5c00 } /* Name.Entity */
.highlight-pygments-tango .ne { color: #cc0000; font-weight: bold } /* Name.Exception */
.highlight-pygments-tango .nf { color: #000000 } /* Name.Function */
.highlight-pygments-tango .nl { color: #f57900 } /* Name.Label */
.highlight-pygments-tango .nn { color: #000000 } /* Name.Namespace */
.highlight-pygments-tango .nx { color: #000000 } /* Name.Other */
.highlight-pygments-tango .py { color: #000000 } /* Name.Property */
.highlight-pygments-tango .nt { color: #204a87; font-weight: bold } /* Name.Tag */
.highlight-pygments-tango .nv { color: #000000 } /* Name.Variable */
.highlight-pygments-tango .ow { color: #204a87; font-weight: bold } /* Operator.Word */
.highlight-pygments-tango .pm { color: #000000; font-weight: bold } /* Punctuation.Marker */
.highlight-pygments-tango .w { color: #f8f8f8 } /* Text.Whitespace */
.highlight-pygments-tango .mb { color: #0000cf; font-weight: bold } /* Literal.Number.Bin */
.highlight-pygments-tango .mf { color: #0000cf; font-weight: bold } /* Literal.Number.Float */
.highlight-pygments-tango .mh { color: #0000cf; font-weight: bold } /* Literal.Number.Hex */
.highlight-pygments-tango .mi { color: #0000cf; font-weight: bold } /* Literal.Number.Integer */
.highlight-pygments-tango .mo { color: #0000cf; font-weight: bold } /* Literal.Number.Oct */
.highlight-pygments-tango .sa { color: #4e9a06 } /* Literal.String.Affix */
.highlight-pygments-tango .sb { color: #4e9a06 } /* Literal.String.Backtick */
.highlight-pygments-tango .sc { color: #4e9a06 } /* Literal.String.Char */
.highlight-pygments-tango .dl { color: #4e9a06 } /* Literal.String.Delimiter */
.highlight-pygments-tango .sd { color: #8f5902; font-style: italic } /* Literal.String.Doc */
.highlight-pygments-tango .s2 { color: #4e9a06 } /* Literal.String.Double */
.highlight-pygments-tango .se { color: #4e9a06 } /* Literal.String.Escape */
.highlight-pygments-tango .sh { color: #4e9a06 } /* Literal.String.Heredoc */
.highlight-pygments-tango .si { color: #4e9a06 } /* Literal.String.Interpol */
.highlight-pygments-tango .sx { color: #4e9a06 } /* Literal.String.Other */
.highlight-pygments-tango .sr { color: #4e9a06 } /* Literal.String.Regex */
.highlight-pygments-tango .s1 { color: #4e9a06 } /* Literal.String.Single */
.highlight-pygments-tango .ss { color: #4e9a06 } /* Literal.String.Symbol */
.highlight-pygments-tango .bp { color: #3465a4 } /* Name.Builtin.Pseudo */
.highlight-pygments-tango .fm { color: #000000 } /* Name.Function.Magic */
.highlight-pygments-tango .vc { color: #000000 } /* Name.Variable.Class */
.highlight-pygments-tango .vg { color: #000000 } /* Name.Variable.Global */
.highlight-pygments-tango .vi { color: #000000 } /* Name.Variable.Instance */
.highlight-pygments-tango .vm { color: #000000 } /* Name.Variable.Magic */
.highlight-pygments-tango .il { color: #0000cf; font-weight: bold } /* Literal.Number.Integer.Long */
