pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight-pygments-trac .hll { background-color: #ffffcc }
.highlight-pygments-trac { background: #ffffff; }
.highlight-pygments-trac .c { color: #999988; font-style: italic } /* Comment */
.highlight-pygments-trac .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight-pygments-trac .k { font-weight: bold } /* Keyword */
.highlight-pygments-trac .o { font-weight: bold } /* Operator */
.highlight-pygments-trac .ch { color: #999988; font-style: italic } /* Comment.Hashbang */
.highlight-pygments-trac .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight-pygments-trac .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight-pygments-trac .cpf { color: #999988; font-style: italic } /* Comment.PreprocFile */
.highlight-pygments-trac .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight-pygments-trac .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight-pygments-trac .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight-pygments-trac .ge { font-style: italic } /* Generic.Emph */
.highlight-pygments-trac .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.highlight-pygments-trac .gr { color: #aa0000 } /* Generic.Error */
.highlight-pygments-trac .gh { color: #999999 } /* Generic.Heading */
.highlight-pygments-trac .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight-pygments-trac .go { color: #888888 } /* Generic.Output */
.highlight-pygments-trac .gp { color: #555555 } /* Generic.Prompt */
.highlight-pygments-trac .gs { font-weight: bold } /* Generic.Strong */
.highlight-pygments-trac .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight-pygments-trac .gt { color: #aa0000 } /* Generic.Traceback */
.highlight-pygments-trac .kc { font-weight: bold } /* Keyword.Constant */
.highlight-pygments-trac .kd { font-weight: bold } /* Keyword.Declaration */
.highlight-pygments-trac .kn { font-weight: bold } /* Keyword.Namespace */
.highlight-pygments-trac .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight-pygments-trac .kr { font-weight: bold } /* Keyword.Reserved */
.highlight-pygments-trac .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight-pygments-trac .m { color: #009999 } /* Literal.Number */
.highlight-pygments-trac .s { color: #bb8844 } /* Literal.String */
.highlight-pygments-trac .na { color: #008080 } /* Name.Attribute */
.highlight-pygments-trac .nb { color: #999999 } /* Name.Builtin */
.highlight-pygments-trac .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight-pygments-trac .no { color: #008080 } /* Name.Constant */
.highlight-pygments-trac .ni { color: #800080 } /* Name.Entity */
.highlight-pygments-trac .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight-pygments-trac .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight-pygments-trac .nn { color: #555555 } /* Name.Namespace */
.highlight-pygments-trac .nt { color: #000080 } /* Name.Tag */
.highlight-pygments-trac .nv { color: #008080 } /* Name.Variable */
.highlight-pygments-trac .ow { font-weight: bold } /* Operator.Word */
.highlight-pygments-trac .w { color: #bbbbbb } /* Text.Whitespace */
.highlight-pygments-trac .mb { color: #009999 } /* Literal.Number.Bin */
.highlight-pygments-trac .mf { color: #009999 } /* Literal.Number.Float */
.highlight-pygments-trac .mh { color: #009999 } /* Literal.Number.Hex */
.highlight-pygments-trac .mi { color: #009999 } /* Literal.Number.Integer */
.highlight-pygments-trac .mo { color: #009999 } /* Literal.Number.Oct */
.highlight-pygments-trac .sa { color: #bb8844 } /* Literal.String.Affix */
.highlight-pygments-trac .sb { color: #bb8844 } /* Literal.String.Backtick */
.highlight-pygments-trac .sc { color: #bb8844 } /* Literal.String.Char */
.highlight-pygments-trac .dl { color: #bb8844 } /* Literal.String.Delimiter */
.highlight-pygments-trac .sd { color: #bb8844 } /* Literal.String.Doc */
.highlight-pygments-trac .s2 { color: #bb8844 } /* Literal.String.Double */
.highlight-pygments-trac .se { color: #bb8844 } /* Literal.String.Escape */
.highlight-pygments-trac .sh { color: #bb8844 } /* Literal.String.Heredoc */
.highlight-pygments-trac .si { color: #bb8844 } /* Literal.String.Interpol */
.highlight-pygments-trac .sx { color: #bb8844 } /* Literal.String.Other */
.highlight-pygments-trac .sr { color: #808000 } /* Literal.String.Regex */
.highlight-pygments-trac .s1 { color: #bb8844 } /* Literal.String.Single */
.highlight-pygments-trac .ss { color: #bb8844 } /* Literal.String.Symbol */
.highlight-pygments-trac .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight-pygments-trac .fm { color: #990000; font-weight: bold } /* Name.Function.Magic */
.highlight-pygments-trac .vc { color: #008080 } /* Name.Variable.Class */
.highlight-pygments-trac .vg { color: #008080 } /* Name.Variable.Global */
.highlight-pygments-trac .vi { color: #008080 } /* Name.Variable.Instance */
.highlight-pygments-trac .vm { color: #008080 } /* Name.Variable.Magic */
.highlight-pygments-trac .il { color: #009999 } /* Literal.Number.Integer.Long */
