pre { line-height: 125%; }
td.linenos .normal { color: #5d6262; background-color: #353535; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #5d6262; background-color: #353535; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #7a8080; background-color: #353535; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #7a8080; background-color: #353535; padding-left: 5px; padding-right: 5px; }
.highlight-pygments-zenburn .hll { background-color: #484848 }
.highlight-pygments-zenburn { background: #3f3f3f; color: #dcdccc }
.highlight-pygments-zenburn .c { color: #7f9f7f; font-style: italic } /* Comment */
.highlight-pygments-zenburn .err { color: #e37170; font-weight: bold } /* Error */
.highlight-pygments-zenburn .esc { color: #dcdccc } /* Escape */
.highlight-pygments-zenburn .g { color: #ecbcbc; font-weight: bold } /* Generic */
.highlight-pygments-zenburn .k { color: #efdcbc } /* Keyword */
.highlight-pygments-zenburn .l { color: #9fafaf } /* Literal */
.highlight-pygments-zenburn .n { color: #dcdccc } /* Name */
.highlight-pygments-zenburn .o { color: #f0efd0 } /* Operator */
.highlight-pygments-zenburn .x { color: #dcdccc } /* Other */
.highlight-pygments-zenburn .p { color: #f0efd0 } /* Punctuation */
.highlight-pygments-zenburn .ch { color: #7f9f7f; font-style: italic } /* Comment.Hashbang */
.highlight-pygments-zenburn .cm { color: #7f9f7f; font-style: italic } /* Comment.Multiline */
.highlight-pygments-zenburn .cp { color: #dfaf8f; font-weight: bold; font-style: italic } /* Comment.Preproc */
.highlight-pygments-zenburn .cpf { color: #cc9393; font-style: italic } /* Comment.PreprocFile */
.highlight-pygments-zenburn .c1 { color: #7f9f7f; font-style: italic } /* Comment.Single */
.highlight-pygments-zenburn .cs { color: #dfdfdf; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight-pygments-zenburn .gd { color: #c3bf9f; font-weight: bold; background-color: #313c36 } /* Generic.Deleted */
.highlight-pygments-zenburn .ge { color: #ffffff; font-weight: bold } /* Generic.Emph */
.highlight-pygments-zenburn .ges { color: #ecbcbc; font-weight: bold } /* Generic.EmphStrong */
.highlight-pygments-zenburn .gr { color: #ecbcbc; font-weight: bold } /* Generic.Error */
.highlight-pygments-zenburn .gh { color: #efefef; font-weight: bold } /* Generic.Heading */
.highlight-pygments-zenburn .gi { color: #709080; font-weight: bold; background-color: #313c36 } /* Generic.Inserted */
.highlight-pygments-zenburn .go { color: #5b605e; font-weight: bold } /* Generic.Output */
.highlight-pygments-zenburn .gp { color: #ecbcbc; font-weight: bold } /* Generic.Prompt */
.highlight-pygments-zenburn .gs { color: #ecbcbc; font-weight: bold } /* Generic.Strong */
.highlight-pygments-zenburn .gu { color: #efefef; font-weight: bold } /* Generic.Subheading */
.highlight-pygments-zenburn .gt { color: #80d4aa; font-weight: bold; background-color: #2f2f2f } /* Generic.Traceback */
.highlight-pygments-zenburn .kc { color: #dca3a3 } /* Keyword.Constant */
.highlight-pygments-zenburn .kd { color: #f0dfaf } /* Keyword.Declaration */
.highlight-pygments-zenburn .kn { color: #f0dfaf } /* Keyword.Namespace */
.highlight-pygments-zenburn .kp { color: #efdcbc } /* Keyword.Pseudo */
.highlight-pygments-zenburn .kr { color: #efdcbc } /* Keyword.Reserved */
.highlight-pygments-zenburn .kt { color: #dfdfbf; font-weight: bold } /* Keyword.Type */
.highlight-pygments-zenburn .ld { color: #9fafaf } /* Literal.Date */
.highlight-pygments-zenburn .m { color: #8cd0d3 } /* Literal.Number */
.highlight-pygments-zenburn .s { color: #cc9393 } /* Literal.String */
.highlight-pygments-zenburn .na { color: #efef8f } /* Name.Attribute */
.highlight-pygments-zenburn .nb { color: #efef8f } /* Name.Builtin */
.highlight-pygments-zenburn .nc { color: #efef8f } /* Name.Class */
.highlight-pygments-zenburn .no { color: #dca3a3 } /* Name.Constant */
.highlight-pygments-zenburn .nd { color: #dcdccc } /* Name.Decorator */
.highlight-pygments-zenburn .ni { color: #cfbfaf } /* Name.Entity */
.highlight-pygments-zenburn .ne { color: #c3bf9f; font-weight: bold } /* Name.Exception */
.highlight-pygments-zenburn .nf { color: #efef8f } /* Name.Function */
.highlight-pygments-zenburn .nl { color: #dcdccc } /* Name.Label */
.highlight-pygments-zenburn .nn { color: #dcdccc } /* Name.Namespace */
.highlight-pygments-zenburn .nx { color: #dcdccc } /* Name.Other */
.highlight-pygments-zenburn .py { color: #dcdccc } /* Name.Property */
.highlight-pygments-zenburn .nt { color: #e89393; font-weight: bold } /* Name.Tag */
.highlight-pygments-zenburn .nv { color: #dcdccc } /* Name.Variable */
.highlight-pygments-zenburn .ow { color: #f0efd0 } /* Operator.Word */
.highlight-pygments-zenburn .pm { color: #f0efd0 } /* Punctuation.Marker */
.highlight-pygments-zenburn .w { color: #dcdccc } /* Text.Whitespace */
.highlight-pygments-zenburn .mb { color: #8cd0d3 } /* Literal.Number.Bin */
.highlight-pygments-zenburn .mf { color: #c0bed1 } /* Literal.Number.Float */
.highlight-pygments-zenburn .mh { color: #8cd0d3 } /* Literal.Number.Hex */
.highlight-pygments-zenburn .mi { color: #8cd0d3 } /* Literal.Number.Integer */
.highlight-pygments-zenburn .mo { color: #8cd0d3 } /* Literal.Number.Oct */
.highlight-pygments-zenburn .sa { color: #cc9393 } /* Literal.String.Affix */
.highlight-pygments-zenburn .sb { color: #cc9393 } /* Literal.String.Backtick */
.highlight-pygments-zenburn .sc { color: #cc9393 } /* Literal.String.Char */
.highlight-pygments-zenburn .dl { color: #cc9393 } /* Literal.String.Delimiter */
.highlight-pygments-zenburn .sd { color: #7f9f7f } /* Literal.String.Doc */
.highlight-pygments-zenburn .s2 { color: #cc9393 } /* Literal.String.Double */
.highlight-pygments-zenburn .se { color: #cc9393 } /* Literal.String.Escape */
.highlight-pygments-zenburn .sh { color: #cc9393 } /* Literal.String.Heredoc */
.highlight-pygments-zenburn .si { color: #dca3a3; font-weight: bold } /* Literal.String.Interpol */
.highlight-pygments-zenburn .sx { color: #cc9393 } /* Literal.String.Other */
.highlight-pygments-zenburn .sr { color: #cc9393 } /* Literal.String.Regex */
.highlight-pygments-zenburn .s1 { color: #cc9393 } /* Literal.String.Single */
.highlight-pygments-zenburn .ss { color: #cc9393 } /* Literal.String.Symbol */
.highlight-pygments-zenburn .bp { color: #dcdccc } /* Name.Builtin.Pseudo */
.highlight-pygments-zenburn .fm { color: #efef8f } /* Name.Function.Magic */
.highlight-pygments-zenburn .vc { color: #dcdccc } /* Name.Variable.Class */
.highlight-pygments-zenburn .vg { color: #dcdccc } /* Name.Variable.Global */
.highlight-pygments-zenburn .vi { color: #dcdccc } /* Name.Variable.Instance */
.highlight-pygments-zenburn .vm { color: #dcdccc } /* Name.Variable.Magic */
.highlight-pygments-zenburn .il { color: #8cd0d3 } /* Literal.Number.Integer.Long */
