.highlight-rouge-base16-dark table td { padding: 5px; }
.highlight-rouge-base16-dark table pre { margin: 0; }
.highlight-rouge-base16-dark, .highlight .w {
  color: #d0d0d0;
  background-color: #151515;
}
.highlight-rouge-base16-dark .err {
  color: #151515;
  background-color: #ac4142;
}
.highlight-rouge-base16-dark .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #505050;
}
.highlight-rouge-base16-dark .cp {
  color: #f4bf75;
}
.highlight-rouge-base16-dark .nt {
  color: #f4bf75;
}
.highlight-rouge-base16-dark .o, .highlight .ow {
  color: #d0d0d0;
}
.highlight-rouge-base16-dark .p, .highlight .pi {
  color: #d0d0d0;
}
.highlight-rouge-base16-dark .gi {
  color: #90a959;
}
.highlight-rouge-base16-dark .gd {
  color: #ac4142;
}
.highlight-rouge-base16-dark .gh {
  color: #6a9fb5;
  background-color: #151515;
  font-weight: bold;
}
.highlight-rouge-base16-dark .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #aa759f;
}
.highlight-rouge-base16-dark .kc {
  color: #d28445;
}
.highlight-rouge-base16-dark .kt {
  color: #d28445;
}
.highlight-rouge-base16-dark .kd {
  color: #d28445;
}
.highlight-rouge-base16-dark .s, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #90a959;
}
.highlight-rouge-base16-dark .sa {
  color: #aa759f;
}
.highlight-rouge-base16-dark .sr {
  color: #75b5aa;
}
.highlight-rouge-base16-dark .si {
  color: #8f5536;
}
.highlight-rouge-base16-dark .se {
  color: #8f5536;
}
.highlight-rouge-base16-dark .nn {
  color: #f4bf75;
}
.highlight-rouge-base16-dark .nc {
  color: #f4bf75;
}
.highlight-rouge-base16-dark .no {
  color: #f4bf75;
}
.highlight-rouge-base16-dark .na {
  color: #6a9fb5;
}
.highlight-rouge-base16-dark .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #90a959;
}
.highlight-rouge-base16-dark .ss {
  color: #90a959;
}
