pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight-algol .hll { background-color: #ffffcc }
.highlight-algol { background: #ffffff; }
.highlight-algol .c { color: #888888; font-style: italic } /* Comment */
.highlight-algol .err { border: 1px solid #FF0000 } /* Error */
.highlight-algol .k { font-weight: bold; text-decoration: underline } /* Keyword */
.highlight-algol .ch { color: #888888; font-style: italic } /* Comment.Hashbang */
.highlight-algol .cm { color: #888888; font-style: italic } /* Comment.Multiline */
.highlight-algol .cp { color: #888888; font-weight: bold } /* Comment.Preproc */
.highlight-algol .cpf { color: #888888; font-style: italic } /* Comment.PreprocFile */
.highlight-algol .c1 { color: #888888; font-style: italic } /* Comment.Single */
.highlight-algol .cs { color: #888888; font-weight: bold } /* Comment.Special */
.highlight-algol .kc { font-weight: bold; text-decoration: underline } /* Keyword.Constant */
.highlight-algol .kd { font-weight: bold; font-style: italic; text-decoration: underline } /* Keyword.Declaration */
.highlight-algol .kn { font-weight: bold; text-decoration: underline } /* Keyword.Namespace */
.highlight-algol .kp { font-weight: bold; text-decoration: underline } /* Keyword.Pseudo */
.highlight-algol .kr { font-weight: bold; text-decoration: underline } /* Keyword.Reserved */
.highlight-algol .kt { font-weight: bold; text-decoration: underline } /* Keyword.Type */
.highlight-algol .s { color: #666666; font-style: italic } /* Literal.String */
.highlight-algol .nb { font-weight: bold; font-style: italic } /* Name.Builtin */
.highlight-algol .nc { color: #666666; font-weight: bold; font-style: italic } /* Name.Class */
.highlight-algol .no { color: #666666; font-weight: bold; font-style: italic } /* Name.Constant */
.highlight-algol .nf { color: #666666; font-weight: bold; font-style: italic } /* Name.Function */
.highlight-algol .nn { color: #666666; font-weight: bold; font-style: italic } /* Name.Namespace */
.highlight-algol .nv { color: #666666; font-weight: bold; font-style: italic } /* Name.Variable */
.highlight-algol .ow { font-weight: bold } /* Operator.Word */
.highlight-algol .sa { color: #666666; font-style: italic } /* Literal.String.Affix */
.highlight-algol .sb { color: #666666; font-style: italic } /* Literal.String.Backtick */
.highlight-algol .sc { color: #666666; font-style: italic } /* Literal.String.Char */
.highlight-algol .dl { color: #666666; font-style: italic } /* Literal.String.Delimiter */
.highlight-algol .sd { color: #666666; font-style: italic } /* Literal.String.Doc */
.highlight-algol .s2 { color: #666666; font-style: italic } /* Literal.String.Double */
.highlight-algol .se { color: #666666; font-style: italic } /* Literal.String.Escape */
.highlight-algol .sh { color: #666666; font-style: italic } /* Literal.String.Heredoc */
.highlight-algol .si { color: #666666; font-style: italic } /* Literal.String.Interpol */
.highlight-algol .sx { color: #666666; font-style: italic } /* Literal.String.Other */
.highlight-algol .sr { color: #666666; font-style: italic } /* Literal.String.Regex */
.highlight-algol .s1 { color: #666666; font-style: italic } /* Literal.String.Single */
.highlight-algol .ss { color: #666666; font-style: italic } /* Literal.String.Symbol */
.highlight-algol .bp { font-weight: bold; font-style: italic } /* Name.Builtin.Pseudo */
.highlight-algol .fm { color: #666666; font-weight: bold; font-style: italic } /* Name.Function.Magic */
.highlight-algol .vc { color: #666666; font-weight: bold; font-style: italic } /* Name.Variable.Class */
.highlight-algol .vg { color: #666666; font-weight: bold; font-style: italic } /* Name.Variable.Global */
.highlight-algol .vi { color: #666666; font-weight: bold; font-style: italic } /* Name.Variable.Instance */
.highlight-algol .vm { color: #666666; font-weight: bold; font-style: italic } /* Name.Variable.Magic */
