.highlight-base16-monokai table td { padding: 5px; }
.highlight-base16-monokai table pre { margin: 0; }
.highlight-base16-monokai, .highlight .w {
  color: #f8f8f2;
  background-color: #272822;
}
.highlight-base16-monokai .err {
  color: #272822;
  background-color: #f92672;
}
.highlight-base16-monokai .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #75715e;
}
.highlight-base16-monokai .cp {
  color: #f4bf75;
}
.highlight-base16-monokai .nt {
  color: #f4bf75;
}
.highlight-base16-monokai .o, .highlight .ow {
  color: #f8f8f2;
}
.highlight-base16-monokai .p, .highlight .pi {
  color: #f8f8f2;
}
.highlight-base16-monokai .gi {
  color: #a6e22e;
}
.highlight-base16-monokai .gd {
  color: #f92672;
}
.highlight-base16-monokai .gh {
  color: #66d9ef;
  background-color: #272822;
  font-weight: bold;
}
.highlight-base16-monokai .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #ae81ff;
}
.highlight-base16-monokai .kc {
  color: #fd971f;
}
.highlight-base16-monokai .kt {
  color: #fd971f;
}
.highlight-base16-monokai .kd {
  color: #fd971f;
}
.highlight-base16-monokai .s, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #a6e22e;
}
.highlight-base16-monokai .sa {
  color: #ae81ff;
}
.highlight-base16-monokai .sr {
  color: #a1efe4;
}
.highlight-base16-monokai .si {
  color: #cc6633;
}
.highlight-base16-monokai .se {
  color: #cc6633;
}
.highlight-base16-monokai .nn {
  color: #f4bf75;
}
.highlight-base16-monokai .nc {
  color: #f4bf75;
}
.highlight-base16-monokai .no {
  color: #f4bf75;
}
.highlight-base16-monokai .na {
  color: #66d9ef;
}
.highlight-base16-monokai .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #a6e22e;
}
.highlight-base16-monokai .ss {
  color: #a6e22e;
}
