pre { line-height: 125%; }
td.linenos .normal { color: #f1fa8c; background-color: #44475a; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #f1fa8c; background-color: #44475a; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #50fa7b; background-color: #6272a4; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #50fa7b; background-color: #6272a4; padding-left: 5px; padding-right: 5px; }
.highlight-dracula .hll { background-color: #44475a }
.highlight-dracula { background: #282a36; color: #f8f8f2 }
.highlight-dracula .c { color: #6272a4 } /* Comment */
.highlight-dracula .err { color: #f8f8f2 } /* Error */
.highlight-dracula .g { color: #f8f8f2 } /* Generic */
.highlight-dracula .k { color: #ff79c6 } /* Keyword */
.highlight-dracula .l { color: #f8f8f2 } /* Literal */
.highlight-dracula .n { color: #f8f8f2 } /* Name */
.highlight-dracula .o { color: #ff79c6 } /* Operator */
.highlight-dracula .x { color: #f8f8f2 } /* Other */
.highlight-dracula .p { color: #f8f8f2 } /* Punctuation */
.highlight-dracula .ch { color: #6272a4 } /* Comment.Hashbang */
.highlight-dracula .cm { color: #6272a4 } /* Comment.Multiline */
.highlight-dracula .cp { color: #ff79c6 } /* Comment.Preproc */
.highlight-dracula .cpf { color: #6272a4 } /* Comment.PreprocFile */
.highlight-dracula .c1 { color: #6272a4 } /* Comment.Single */
.highlight-dracula .cs { color: #6272a4 } /* Comment.Special */
.highlight-dracula .gd { color: #8b080b } /* Generic.Deleted */
.highlight-dracula .ge { color: #f8f8f2; text-decoration: underline } /* Generic.Emph */
.highlight-dracula .gr { color: #f8f8f2 } /* Generic.Error */
.highlight-dracula .gh { color: #f8f8f2; font-weight: bold } /* Generic.Heading */
.highlight-dracula .gi { color: #f8f8f2; font-weight: bold } /* Generic.Inserted */
.highlight-dracula .go { color: #44475a } /* Generic.Output */
.highlight-dracula .gp { color: #f8f8f2 } /* Generic.Prompt */
.highlight-dracula .gs { color: #f8f8f2 } /* Generic.Strong */
.highlight-dracula .gu { color: #f8f8f2; font-weight: bold } /* Generic.Subheading */
.highlight-dracula .gt { color: #f8f8f2 } /* Generic.Traceback */
.highlight-dracula .kc { color: #ff79c6 } /* Keyword.Constant */
.highlight-dracula .kd { color: #8be9fd; font-style: italic } /* Keyword.Declaration */
.highlight-dracula .kn { color: #ff79c6 } /* Keyword.Namespace */
.highlight-dracula .kp { color: #ff79c6 } /* Keyword.Pseudo */
.highlight-dracula .kr { color: #ff79c6 } /* Keyword.Reserved */
.highlight-dracula .kt { color: #8be9fd } /* Keyword.Type */
.highlight-dracula .ld { color: #f8f8f2 } /* Literal.Date */
.highlight-dracula .m { color: #ffb86c } /* Literal.Number */
.highlight-dracula .s { color: #bd93f9 } /* Literal.String */
.highlight-dracula .na { color: #50fa7b } /* Name.Attribute */
.highlight-dracula .nb { color: #8be9fd; font-style: italic } /* Name.Builtin */
.highlight-dracula .nc { color: #50fa7b } /* Name.Class */
.highlight-dracula .no { color: #f8f8f2 } /* Name.Constant */
.highlight-dracula .nd { color: #f8f8f2 } /* Name.Decorator */
.highlight-dracula .ni { color: #f8f8f2 } /* Name.Entity */
.highlight-dracula .ne { color: #f8f8f2 } /* Name.Exception */
.highlight-dracula .nf { color: #50fa7b } /* Name.Function */
.highlight-dracula .nl { color: #8be9fd; font-style: italic } /* Name.Label */
.highlight-dracula .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight-dracula .nx { color: #f8f8f2 } /* Name.Other */
.highlight-dracula .py { color: #f8f8f2 } /* Name.Property */
.highlight-dracula .nt { color: #ff79c6 } /* Name.Tag */
.highlight-dracula .nv { color: #8be9fd; font-style: italic } /* Name.Variable */
.highlight-dracula .ow { color: #ff79c6 } /* Operator.Word */
.highlight-dracula .pm { color: #f8f8f2 } /* Punctuation.Marker */
.highlight-dracula .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight-dracula .mb { color: #ffb86c } /* Literal.Number.Bin */
.highlight-dracula .mf { color: #ffb86c } /* Literal.Number.Float */
.highlight-dracula .mh { color: #ffb86c } /* Literal.Number.Hex */
.highlight-dracula .mi { color: #ffb86c } /* Literal.Number.Integer */
.highlight-dracula .mo { color: #ffb86c } /* Literal.Number.Oct */
.highlight-dracula .sa { color: #bd93f9 } /* Literal.String.Affix */
.highlight-dracula .sb { color: #bd93f9 } /* Literal.String.Backtick */
.highlight-dracula .sc { color: #bd93f9 } /* Literal.String.Char */
.highlight-dracula .dl { color: #bd93f9 } /* Literal.String.Delimiter */
.highlight-dracula .sd { color: #bd93f9 } /* Literal.String.Doc */
.highlight-dracula .s2 { color: #bd93f9 } /* Literal.String.Double */
.highlight-dracula .se { color: #bd93f9 } /* Literal.String.Escape */
.highlight-dracula .sh { color: #bd93f9 } /* Literal.String.Heredoc */
.highlight-dracula .si { color: #bd93f9 } /* Literal.String.Interpol */
.highlight-dracula .sx { color: #bd93f9 } /* Literal.String.Other */
.highlight-dracula .sr { color: #bd93f9 } /* Literal.String.Regex */
.highlight-dracula .s1 { color: #bd93f9 } /* Literal.String.Single */
.highlight-dracula .ss { color: #bd93f9 } /* Literal.String.Symbol */
.highlight-dracula .bp { color: #f8f8f2; font-style: italic } /* Name.Builtin.Pseudo */
.highlight-dracula .fm { color: #50fa7b } /* Name.Function.Magic */
.highlight-dracula .vc { color: #8be9fd; font-style: italic } /* Name.Variable.Class */
.highlight-dracula .vg { color: #8be9fd; font-style: italic } /* Name.Variable.Global */
.highlight-dracula .vi { color: #8be9fd; font-style: italic } /* Name.Variable.Instance */
.highlight-dracula .vm { color: #8be9fd; font-style: italic } /* Name.Variable.Magic */
.highlight-dracula .il { color: #ffb86c } /* Literal.Number.Integer.Long */
