pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight-emacs .hll { background-color: #ffffcc }
.highlight-emacs { background: #f8f8f8; }
.highlight-emacs .c { color: #008800; font-style: italic } /* Comment */
.highlight-emacs .err { border: 1px solid #FF0000 } /* Error */
.highlight-emacs .k { color: #AA22FF; font-weight: bold } /* Keyword */
.highlight-emacs .o { color: #666666 } /* Operator */
.highlight-emacs .ch { color: #008800; font-style: italic } /* Comment.Hashbang */
.highlight-emacs .cm { color: #008800; font-style: italic } /* Comment.Multiline */
.highlight-emacs .cp { color: #008800 } /* Comment.Preproc */
.highlight-emacs .cpf { color: #008800; font-style: italic } /* Comment.PreprocFile */
.highlight-emacs .c1 { color: #008800; font-style: italic } /* Comment.Single */
.highlight-emacs .cs { color: #008800; font-weight: bold } /* Comment.Special */
.highlight-emacs .gd { color: #A00000 } /* Generic.Deleted */
.highlight-emacs .ge { font-style: italic } /* Generic.Emph */
.highlight-emacs .gr { color: #FF0000 } /* Generic.Error */
.highlight-emacs .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight-emacs .gi { color: #00A000 } /* Generic.Inserted */
.highlight-emacs .go { color: #888888 } /* Generic.Output */
.highlight-emacs .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight-emacs .gs { font-weight: bold } /* Generic.Strong */
.highlight-emacs .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight-emacs .gt { color: #0044DD } /* Generic.Traceback */
.highlight-emacs .kc { color: #AA22FF; font-weight: bold } /* Keyword.Constant */
.highlight-emacs .kd { color: #AA22FF; font-weight: bold } /* Keyword.Declaration */
.highlight-emacs .kn { color: #AA22FF; font-weight: bold } /* Keyword.Namespace */
.highlight-emacs .kp { color: #AA22FF } /* Keyword.Pseudo */
.highlight-emacs .kr { color: #AA22FF; font-weight: bold } /* Keyword.Reserved */
.highlight-emacs .kt { color: #00BB00; font-weight: bold } /* Keyword.Type */
.highlight-emacs .m { color: #666666 } /* Literal.Number */
.highlight-emacs .s { color: #BB4444 } /* Literal.String */
.highlight-emacs .na { color: #BB4444 } /* Name.Attribute */
.highlight-emacs .nb { color: #AA22FF } /* Name.Builtin */
.highlight-emacs .nc { color: #0000FF } /* Name.Class */
.highlight-emacs .no { color: #880000 } /* Name.Constant */
.highlight-emacs .nd { color: #AA22FF } /* Name.Decorator */
.highlight-emacs .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight-emacs .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight-emacs .nf { color: #00A000 } /* Name.Function */
.highlight-emacs .nl { color: #A0A000 } /* Name.Label */
.highlight-emacs .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight-emacs .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight-emacs .nv { color: #B8860B } /* Name.Variable */
.highlight-emacs .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight-emacs .w { color: #bbbbbb } /* Text.Whitespace */
.highlight-emacs .mb { color: #666666 } /* Literal.Number.Bin */
.highlight-emacs .mf { color: #666666 } /* Literal.Number.Float */
.highlight-emacs .mh { color: #666666 } /* Literal.Number.Hex */
.highlight-emacs .mi { color: #666666 } /* Literal.Number.Integer */
.highlight-emacs .mo { color: #666666 } /* Literal.Number.Oct */
.highlight-emacs .sa { color: #BB4444 } /* Literal.String.Affix */
.highlight-emacs .sb { color: #BB4444 } /* Literal.String.Backtick */
.highlight-emacs .sc { color: #BB4444 } /* Literal.String.Char */
.highlight-emacs .dl { color: #BB4444 } /* Literal.String.Delimiter */
.highlight-emacs .sd { color: #BB4444; font-style: italic } /* Literal.String.Doc */
.highlight-emacs .s2 { color: #BB4444 } /* Literal.String.Double */
.highlight-emacs .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight-emacs .sh { color: #BB4444 } /* Literal.String.Heredoc */
.highlight-emacs .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight-emacs .sx { color: #008000 } /* Literal.String.Other */
.highlight-emacs .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight-emacs .s1 { color: #BB4444 } /* Literal.String.Single */
.highlight-emacs .ss { color: #B8860B } /* Literal.String.Symbol */
.highlight-emacs .bp { color: #AA22FF } /* Name.Builtin.Pseudo */
.highlight-emacs .fm { color: #00A000 } /* Name.Function.Magic */
.highlight-emacs .vc { color: #B8860B } /* Name.Variable.Class */
.highlight-emacs .vg { color: #B8860B } /* Name.Variable.Global */
.highlight-emacs .vi { color: #B8860B } /* Name.Variable.Instance */
.highlight-emacs .vm { color: #B8860B } /* Name.Variable.Magic */
.highlight-emacs .il { color: #666666 } /* Literal.Number.Integer.Long */
