pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight-fruity .hll { background-color: #333333 }
.highlight-fruity { background: #111111; color: #ffffff }
.highlight-fruity .c { color: #008800; font-style: italic; background-color: #0f140f } /* Comment */
.highlight-fruity .err { color: #ffffff } /* Error */
.highlight-fruity .esc { color: #ffffff } /* Escape */
.highlight-fruity .g { color: #ffffff } /* Generic */
.highlight-fruity .k { color: #fb660a; font-weight: bold } /* Keyword */
.highlight-fruity .l { color: #ffffff } /* Literal */
.highlight-fruity .n { color: #ffffff } /* Name */
.highlight-fruity .o { color: #ffffff } /* Operator */
.highlight-fruity .x { color: #ffffff } /* Other */
.highlight-fruity .p { color: #ffffff } /* Punctuation */
.highlight-fruity .ch { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Hashbang */
.highlight-fruity .cm { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Multiline */
.highlight-fruity .cp { color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f } /* Comment.Preproc */
.highlight-fruity .cpf { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.PreprocFile */
.highlight-fruity .c1 { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Single */
.highlight-fruity .cs { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Special */
.highlight-fruity .gd { color: #ffffff } /* Generic.Deleted */
.highlight-fruity .ge { color: #ffffff } /* Generic.Emph */
.highlight-fruity .gr { color: #ffffff } /* Generic.Error */
.highlight-fruity .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.highlight-fruity .gi { color: #ffffff } /* Generic.Inserted */
.highlight-fruity .go { color: #444444; background-color: #222222 } /* Generic.Output */
.highlight-fruity .gp { color: #ffffff } /* Generic.Prompt */
.highlight-fruity .gs { color: #ffffff } /* Generic.Strong */
.highlight-fruity .gu { color: #ffffff; font-weight: bold } /* Generic.Subheading */
.highlight-fruity .gt { color: #ffffff } /* Generic.Traceback */
.highlight-fruity .kc { color: #fb660a; font-weight: bold } /* Keyword.Constant */
.highlight-fruity .kd { color: #fb660a; font-weight: bold } /* Keyword.Declaration */
.highlight-fruity .kn { color: #fb660a; font-weight: bold } /* Keyword.Namespace */
.highlight-fruity .kp { color: #fb660a } /* Keyword.Pseudo */
.highlight-fruity .kr { color: #fb660a; font-weight: bold } /* Keyword.Reserved */
.highlight-fruity .kt { color: #cdcaa9; font-weight: bold } /* Keyword.Type */
.highlight-fruity .ld { color: #ffffff } /* Literal.Date */
.highlight-fruity .m { color: #0086f7; font-weight: bold } /* Literal.Number */
.highlight-fruity .s { color: #0086d2 } /* Literal.String */
.highlight-fruity .na { color: #ff0086; font-weight: bold } /* Name.Attribute */
.highlight-fruity .nb { color: #ffffff } /* Name.Builtin */
.highlight-fruity .nc { color: #ffffff } /* Name.Class */
.highlight-fruity .no { color: #0086d2 } /* Name.Constant */
.highlight-fruity .nd { color: #ffffff } /* Name.Decorator */
.highlight-fruity .ni { color: #ffffff } /* Name.Entity */
.highlight-fruity .ne { color: #ffffff } /* Name.Exception */
.highlight-fruity .nf { color: #ff0086; font-weight: bold } /* Name.Function */
.highlight-fruity .nl { color: #ffffff } /* Name.Label */
.highlight-fruity .nn { color: #ffffff } /* Name.Namespace */
.highlight-fruity .nx { color: #ffffff } /* Name.Other */
.highlight-fruity .py { color: #ffffff } /* Name.Property */
.highlight-fruity .nt { color: #fb660a; font-weight: bold } /* Name.Tag */
.highlight-fruity .nv { color: #fb660a } /* Name.Variable */
.highlight-fruity .ow { color: #ffffff } /* Operator.Word */
.highlight-fruity .pm { color: #ffffff } /* Punctuation.Marker */
.highlight-fruity .w { color: #888888 } /* Text.Whitespace */
.highlight-fruity .mb { color: #0086f7; font-weight: bold } /* Literal.Number.Bin */
.highlight-fruity .mf { color: #0086f7; font-weight: bold } /* Literal.Number.Float */
.highlight-fruity .mh { color: #0086f7; font-weight: bold } /* Literal.Number.Hex */
.highlight-fruity .mi { color: #0086f7; font-weight: bold } /* Literal.Number.Integer */
.highlight-fruity .mo { color: #0086f7; font-weight: bold } /* Literal.Number.Oct */
.highlight-fruity .sa { color: #0086d2 } /* Literal.String.Affix */
.highlight-fruity .sb { color: #0086d2 } /* Literal.String.Backtick */
.highlight-fruity .sc { color: #0086d2 } /* Literal.String.Char */
.highlight-fruity .dl { color: #0086d2 } /* Literal.String.Delimiter */
.highlight-fruity .sd { color: #0086d2 } /* Literal.String.Doc */
.highlight-fruity .s2 { color: #0086d2 } /* Literal.String.Double */
.highlight-fruity .se { color: #0086d2 } /* Literal.String.Escape */
.highlight-fruity .sh { color: #0086d2 } /* Literal.String.Heredoc */
.highlight-fruity .si { color: #0086d2 } /* Literal.String.Interpol */
.highlight-fruity .sx { color: #0086d2 } /* Literal.String.Other */
.highlight-fruity .sr { color: #0086d2 } /* Literal.String.Regex */
.highlight-fruity .s1 { color: #0086d2 } /* Literal.String.Single */
.highlight-fruity .ss { color: #0086d2 } /* Literal.String.Symbol */
.highlight-fruity .bp { color: #ffffff } /* Name.Builtin.Pseudo */
.highlight-fruity .fm { color: #ff0086; font-weight: bold } /* Name.Function.Magic */
.highlight-fruity .vc { color: #fb660a } /* Name.Variable.Class */
.highlight-fruity .vg { color: #fb660a } /* Name.Variable.Global */
.highlight-fruity .vi { color: #fb660a } /* Name.Variable.Instance */
.highlight-fruity .vm { color: #fb660a } /* Name.Variable.Magic */
.highlight-fruity .il { color: #0086f7; font-weight: bold } /* Literal.Number.Integer.Long */
