.highlight-gruvbox table td { padding: 5px; }
.highlight-gruvbox table pre { margin: 0; }
.highlight-gruvbox, .highlight .w {
  color: #fbf1c7;
  background-color: #282828;
}
.highlight-gruvbox .err {
  color: #fb4934;
  background-color: #282828;
  font-weight: bold;
}
.highlight-gruvbox .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #928374;
  font-style: italic;
}
.highlight-gruvbox .cp {
  color: #8ec07c;
}
.highlight-gruvbox .nt {
  color: #fb4934;
}
.highlight-gruvbox .o, .highlight .ow {
  color: #fbf1c7;
}
.highlight-gruvbox .p, .highlight .pi {
  color: #fbf1c7;
}
.highlight-gruvbox .gi {
  color: #b8bb26;
  background-color: #282828;
}
.highlight-gruvbox .gd {
  color: #fb4934;
  background-color: #282828;
}
.highlight-gruvbox .gh {
  color: #b8bb26;
  font-weight: bold;
}
.highlight-gruvbox .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #fb4934;
}
.highlight-gruvbox .kc {
  color: #d3869b;
}
.highlight-gruvbox .kt {
  color: #fabd2f;
}
.highlight-gruvbox .kd {
  color: #fe8019;
}
.highlight-gruvbox .s, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #b8bb26;
  font-style: italic;
}
.highlight-gruvbox .si {
  color: #b8bb26;
  font-style: italic;
}
.highlight-gruvbox .sr {
  color: #b8bb26;
  font-style: italic;
}
.highlight-gruvbox .sa {
  color: #fb4934;
}
.highlight-gruvbox .se {
  color: #fe8019;
}
.highlight-gruvbox .nn {
  color: #8ec07c;
}
.highlight-gruvbox .nc {
  color: #8ec07c;
}
.highlight-gruvbox .no {
  color: #d3869b;
}
.highlight-gruvbox .na {
  color: #b8bb26;
}
.highlight-gruvbox .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #d3869b;
}
.highlight-gruvbox .ss {
  color: #83a598;
}
