.highlight-molokai table td { padding: 5px; }
.highlight-molokai table pre { margin: 0; }
.highlight-molokai .c, .highlight .ch, .highlight .cd, .highlight .cpf {
  color: #5e5d83;
  font-style: italic;
}
.highlight-molokai .cm {
  color: #5e5d83;
  font-style: italic;
}
.highlight-molokai .c1 {
  color: #5e5d83;
  font-style: italic;
}
.highlight-molokai .cp {
  color: #465457;
  font-weight: bold;
}
.highlight-molokai .cs {
  color: #465457;
  font-weight: bold;
  font-style: italic;
}
.highlight-molokai .err {
  color: #f8f8f2;
  background-color: #403d3d;
}
.highlight-molokai .gi {
  color: #a6e22e;
}
.highlight-molokai .gd {
  color: #f92672;
}
.highlight-molokai .ge {
  color: #1b1d1e;
  font-style: italic;
}
.highlight-molokai .gr {
  color: #f92672;
}
.highlight-molokai .gt {
  color: #f92672;
}
.highlight-molokai .gh {
  color: #403d3d;
}
.highlight-molokai .go {
  color: #403d3d;
}
.highlight-molokai .gp {
  color: #66d9ef;
}
.highlight-molokai .gs {
  font-weight: bold;
}
.highlight-molokai .gu {
  color: #465457;
}
.highlight-molokai .k, .highlight .kv {
  color: #66d9ef;
  font-weight: bold;
}
.highlight-molokai .kc {
  color: #66d9ef;
  font-weight: bold;
}
.highlight-molokai .kd {
  color: #66d9ef;
  font-weight: bold;
}
.highlight-molokai .kp {
  color: #66d9ef;
  font-weight: bold;
}
.highlight-molokai .kr {
  color: #66d9ef;
  font-weight: bold;
}
.highlight-molokai .kt {
  color: #66d9ef;
  font-weight: bold;
}
.highlight-molokai .kn {
  color: #f92672;
  font-weight: bold;
}
.highlight-molokai .ow {
  color: #f92672;
  font-weight: bold;
}
.highlight-molokai .o {
  color: #f92672;
  font-weight: bold;
}
.highlight-molokai .mf {
  color: #af87ff;
}
.highlight-molokai .mh {
  color: #af87ff;
}
.highlight-molokai .il {
  color: #af87ff;
}
.highlight-molokai .mi {
  color: #af87ff;
}
.highlight-molokai .mo {
  color: #af87ff;
}
.highlight-molokai .m, .highlight .mb, .highlight .mx {
  color: #af87ff;
}
.highlight-molokai .se {
  color: #af87ff;
}
.highlight-molokai .sb {
  color: #d7d787;
}
.highlight-molokai .sc {
  color: #d7d787;
}
.highlight-molokai .sd {
  color: #d7d787;
}
.highlight-molokai .s2 {
  color: #d7d787;
}
.highlight-molokai .sh {
  color: #d7d787;
}
.highlight-molokai .si {
  color: #d7d787;
}
.highlight-molokai .sx {
  color: #d7d787;
}
.highlight-molokai .sr {
  color: #d7d787;
}
.highlight-molokai .s1 {
  color: #d7d787;
}
.highlight-molokai .ss {
  color: #d7d787;
}
.highlight-molokai .s, .highlight .sa, .highlight .dl {
  color: #d7d787;
}
.highlight-molokai .na {
  color: #a6e22e;
}
.highlight-molokai .nc {
  color: #a6e22e;
  font-weight: bold;
}
.highlight-molokai .nd {
  color: #a6e22e;
  font-weight: bold;
}
.highlight-molokai .ne {
  color: #a6e22e;
  font-weight: bold;
}
.highlight-molokai .nf, .highlight .fm {
  color: #a6e22e;
  font-weight: bold;
}
.highlight-molokai .no {
  color: #66d9ef;
}
.highlight-molokai .bp {
  color: #f8f8f2;
}
.highlight-molokai .nb {
  color: #f8f8f2;
}
.highlight-molokai .ni {
  color: #f8f8f2;
}
.highlight-molokai .nn {
  color: #f8f8f2;
}
.highlight-molokai .vc {
  color: #f8f8f2;
}
.highlight-molokai .vg {
  color: #f8f8f2;
}
.highlight-molokai .vi {
  color: #f8f8f2;
}
.highlight-molokai .nv, .highlight .vm {
  color: #f8f8f2;
}
.highlight-molokai .w {
  color: #f8f8f2;
}
.highlight-molokai .nl {
  color: #f8f8f2;
  font-weight: bold;
}
.highlight-molokai .nt {
  color: #f92672;
}
.highlight-molokai {
  color: #f8f8f2;
  background-color: #1b1d1e;
}
