.highlight-monokai-sublime table td { padding: 5px; }
.highlight-monokai-sublime table pre { margin: 0; }
.highlight-monokai-sublime .gh {
  color: #999999;
}
.highlight-monokai-sublime .sr {
  color: #f6aa11;
}
.highlight-monokai-sublime .go {
  color: #888888;
}
.highlight-monokai-sublime .gp {
  color: #555555;
}
.highlight-monokai-sublime .gs {
}
.highlight-monokai-sublime .gu {
  color: #aaaaaa;
}
.highlight-monokai-sublime .nb {
  color: #f6aa11;
}
.highlight-monokai-sublime .cm {
  color: #75715e;
}
.highlight-monokai-sublime .cp {
  color: #75715e;
}
.highlight-monokai-sublime .c1 {
  color: #75715e;
}
.highlight-monokai-sublime .cs {
  color: #75715e;
}
.highlight-monokai-sublime .c, .highlight .ch, .highlight .cd, .highlight .cpf {
  color: #75715e;
}
.highlight-monokai-sublime .err {
  color: #960050;
}
.highlight-monokai-sublime .gr {
  color: #960050;
}
.highlight-monokai-sublime .gt {
  color: #960050;
}
.highlight-monokai-sublime .gd {
  color: #49483e;
}
.highlight-monokai-sublime .gi {
  color: #49483e;
}
.highlight-monokai-sublime .ge {
  color: #49483e;
}
.highlight-monokai-sublime .kc {
  color: #66d9ef;
}
.highlight-monokai-sublime .kd {
  color: #66d9ef;
}
.highlight-monokai-sublime .kr {
  color: #66d9ef;
}
.highlight-monokai-sublime .no {
  color: #66d9ef;
}
.highlight-monokai-sublime .kt {
  color: #66d9ef;
}
.highlight-monokai-sublime .mf {
  color: #ae81ff;
}
.highlight-monokai-sublime .mh {
  color: #ae81ff;
}
.highlight-monokai-sublime .il {
  color: #ae81ff;
}
.highlight-monokai-sublime .mi {
  color: #ae81ff;
}
.highlight-monokai-sublime .mo {
  color: #ae81ff;
}
.highlight-monokai-sublime .m, .highlight .mb, .highlight .mx {
  color: #ae81ff;
}
.highlight-monokai-sublime .sc {
  color: #ae81ff;
}
.highlight-monokai-sublime .se {
  color: #ae81ff;
}
.highlight-monokai-sublime .ss {
  color: #ae81ff;
}
.highlight-monokai-sublime .sd {
  color: #e6db74;
}
.highlight-monokai-sublime .s2 {
  color: #e6db74;
}
.highlight-monokai-sublime .sb {
  color: #e6db74;
}
.highlight-monokai-sublime .sh {
  color: #e6db74;
}
.highlight-monokai-sublime .si {
  color: #e6db74;
}
.highlight-monokai-sublime .sx {
  color: #e6db74;
}
.highlight-monokai-sublime .s1 {
  color: #e6db74;
}
.highlight-monokai-sublime .s, .highlight .sa, .highlight .dl {
  color: #e6db74;
}
.highlight-monokai-sublime .na {
  color: #a6e22e;
}
.highlight-monokai-sublime .nc {
  color: #a6e22e;
}
.highlight-monokai-sublime .nd {
  color: #a6e22e;
}
.highlight-monokai-sublime .ne {
  color: #a6e22e;
}
.highlight-monokai-sublime .nf, .highlight .fm {
  color: #a6e22e;
}
.highlight-monokai-sublime .vc {
  color: #ffffff;
  background-color: #272822;
}
.highlight-monokai-sublime .nn {
  color: #ffffff;
  background-color: #272822;
}
.highlight-monokai-sublime .nl {
  color: #ffffff;
  background-color: #272822;
}
.highlight-monokai-sublime .ni {
  color: #ffffff;
  background-color: #272822;
}
.highlight-monokai-sublime .bp {
  color: #ffffff;
  background-color: #272822;
}
.highlight-monokai-sublime .vg {
  color: #ffffff;
  background-color: #272822;
}
.highlight-monokai-sublime .vi {
  color: #ffffff;
  background-color: #272822;
}
.highlight-monokai-sublime .nv, .highlight .vm {
  color: #ffffff;
  background-color: #272822;
}
.highlight-monokai-sublime .w {
  color: #ffffff;
  background-color: #272822;
}
.highlight-monokai-sublime {
  color: #ffffff;
  background-color: #272822;
}
.highlight-monokai-sublime .n, .highlight .py, .highlight .nx {
  color: #ffffff;
  background-color: #272822;
}
.highlight-monokai-sublime .ow {
  color: #f92672;
}
.highlight-monokai-sublime .nt {
  color: #f92672;
}
.highlight-monokai-sublime .k, .highlight .kv {
  color: #f92672;
}
.highlight-monokai-sublime .kn {
  color: #f92672;
}
.highlight-monokai-sublime .kp {
  color: #f92672;
}
.highlight-monokai-sublime .o {
  color: #f92672;
}
