pre { line-height: 125%; }
td.linenos .normal { color: #D8DEE9; background-color: #242933; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #D8DEE9; background-color: #242933; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #242933; background-color: #D8DEE9; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #242933; background-color: #D8DEE9; padding-left: 5px; padding-right: 5px; }
.highlight-nord-darker .hll { background-color: #3B4252 }
.highlight-nord-darker { background: #242933; color: #d8dee9 }
.highlight-nord-darker .c { color: #616e87; font-style: italic } /* Comment */
.highlight-nord-darker .err { color: #bf616a } /* Error */
.highlight-nord-darker .esc { color: #d8dee9 } /* Escape */
.highlight-nord-darker .g { color: #d8dee9 } /* Generic */
.highlight-nord-darker .k { color: #81a1c1; font-weight: bold } /* Keyword */
.highlight-nord-darker .l { color: #d8dee9 } /* Literal */
.highlight-nord-darker .n { color: #d8dee9 } /* Name */
.highlight-nord-darker .o { color: #81a1c1; font-weight: bold } /* Operator */
.highlight-nord-darker .x { color: #d8dee9 } /* Other */
.highlight-nord-darker .p { color: #eceff4 } /* Punctuation */
.highlight-nord-darker .ch { color: #616e87; font-style: italic } /* Comment.Hashbang */
.highlight-nord-darker .cm { color: #616e87; font-style: italic } /* Comment.Multiline */
.highlight-nord-darker .cp { color: #5e81ac; font-style: italic } /* Comment.Preproc */
.highlight-nord-darker .cpf { color: #616e87; font-style: italic } /* Comment.PreprocFile */
.highlight-nord-darker .c1 { color: #616e87; font-style: italic } /* Comment.Single */
.highlight-nord-darker .cs { color: #616e87; font-style: italic } /* Comment.Special */
.highlight-nord-darker .gd { color: #bf616a } /* Generic.Deleted */
.highlight-nord-darker .ge { color: #d8dee9; font-style: italic } /* Generic.Emph */
.highlight-nord-darker .gr { color: #bf616a } /* Generic.Error */
.highlight-nord-darker .gh { color: #88c0d0; font-weight: bold } /* Generic.Heading */
.highlight-nord-darker .gi { color: #a3be8c } /* Generic.Inserted */
.highlight-nord-darker .go { color: #d8dee9 } /* Generic.Output */
.highlight-nord-darker .gp { color: #616e88; font-weight: bold } /* Generic.Prompt */
.highlight-nord-darker .gs { color: #d8dee9; font-weight: bold } /* Generic.Strong */
.highlight-nord-darker .gu { color: #88c0d0; font-weight: bold } /* Generic.Subheading */
.highlight-nord-darker .gt { color: #bf616a } /* Generic.Traceback */
.highlight-nord-darker .kc { color: #81a1c1; font-weight: bold } /* Keyword.Constant */
.highlight-nord-darker .kd { color: #81a1c1; font-weight: bold } /* Keyword.Declaration */
.highlight-nord-darker .kn { color: #81a1c1; font-weight: bold } /* Keyword.Namespace */
.highlight-nord-darker .kp { color: #81a1c1 } /* Keyword.Pseudo */
.highlight-nord-darker .kr { color: #81a1c1; font-weight: bold } /* Keyword.Reserved */
.highlight-nord-darker .kt { color: #81a1c1 } /* Keyword.Type */
.highlight-nord-darker .ld { color: #d8dee9 } /* Literal.Date */
.highlight-nord-darker .m { color: #b48ead } /* Literal.Number */
.highlight-nord-darker .s { color: #a3be8c } /* Literal.String */
.highlight-nord-darker .na { color: #8fbcbb } /* Name.Attribute */
.highlight-nord-darker .nb { color: #81a1c1 } /* Name.Builtin */
.highlight-nord-darker .nc { color: #8fbcbb } /* Name.Class */
.highlight-nord-darker .no { color: #8fbcbb } /* Name.Constant */
.highlight-nord-darker .nd { color: #d08770 } /* Name.Decorator */
.highlight-nord-darker .ni { color: #d08770 } /* Name.Entity */
.highlight-nord-darker .ne { color: #bf616a } /* Name.Exception */
.highlight-nord-darker .nf { color: #88c0d0 } /* Name.Function */
.highlight-nord-darker .nl { color: #d8dee9 } /* Name.Label */
.highlight-nord-darker .nn { color: #8fbcbb } /* Name.Namespace */
.highlight-nord-darker .nx { color: #d8dee9 } /* Name.Other */
.highlight-nord-darker .py { color: #d8dee9 } /* Name.Property */
.highlight-nord-darker .nt { color: #81a1c1 } /* Name.Tag */
.highlight-nord-darker .nv { color: #d8dee9 } /* Name.Variable */
.highlight-nord-darker .ow { color: #81a1c1; font-weight: bold } /* Operator.Word */
.highlight-nord-darker .pm { color: #eceff4 } /* Punctuation.Marker */
.highlight-nord-darker .w { color: #d8dee9 } /* Text.Whitespace */
.highlight-nord-darker .mb { color: #b48ead } /* Literal.Number.Bin */
.highlight-nord-darker .mf { color: #b48ead } /* Literal.Number.Float */
.highlight-nord-darker .mh { color: #b48ead } /* Literal.Number.Hex */
.highlight-nord-darker .mi { color: #b48ead } /* Literal.Number.Integer */
.highlight-nord-darker .mo { color: #b48ead } /* Literal.Number.Oct */
.highlight-nord-darker .sa { color: #a3be8c } /* Literal.String.Affix */
.highlight-nord-darker .sb { color: #a3be8c } /* Literal.String.Backtick */
.highlight-nord-darker .sc { color: #a3be8c } /* Literal.String.Char */
.highlight-nord-darker .dl { color: #a3be8c } /* Literal.String.Delimiter */
.highlight-nord-darker .sd { color: #616e87 } /* Literal.String.Doc */
.highlight-nord-darker .s2 { color: #a3be8c } /* Literal.String.Double */
.highlight-nord-darker .se { color: #ebcb8b } /* Literal.String.Escape */
.highlight-nord-darker .sh { color: #a3be8c } /* Literal.String.Heredoc */
.highlight-nord-darker .si { color: #a3be8c } /* Literal.String.Interpol */
.highlight-nord-darker .sx { color: #a3be8c } /* Literal.String.Other */
.highlight-nord-darker .sr { color: #ebcb8b } /* Literal.String.Regex */
.highlight-nord-darker .s1 { color: #a3be8c } /* Literal.String.Single */
.highlight-nord-darker .ss { color: #a3be8c } /* Literal.String.Symbol */
.highlight-nord-darker .bp { color: #81a1c1 } /* Name.Builtin.Pseudo */
.highlight-nord-darker .fm { color: #88c0d0 } /* Name.Function.Magic */
.highlight-nord-darker .vc { color: #d8dee9 } /* Name.Variable.Class */
.highlight-nord-darker .vg { color: #d8dee9 } /* Name.Variable.Global */
.highlight-nord-darker .vi { color: #d8dee9 } /* Name.Variable.Instance */
.highlight-nord-darker .vm { color: #d8dee9 } /* Name.Variable.Magic */
.highlight-nord-darker .il { color: #b48ead } /* Literal.Number.Integer.Long */
