pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight-perldoc .hll { background-color: #ffffcc }
.highlight-perldoc { background: #eeeedd; }
.highlight-perldoc .c { color: #228B22 } /* Comment */
.highlight-perldoc .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight-perldoc .k { color: #8B008B; font-weight: bold } /* Keyword */
.highlight-perldoc .ch { color: #228B22 } /* Comment.Hashbang */
.highlight-perldoc .cm { color: #228B22 } /* Comment.Multiline */
.highlight-perldoc .cp { color: #1e889b } /* Comment.Preproc */
.highlight-perldoc .cpf { color: #228B22 } /* Comment.PreprocFile */
.highlight-perldoc .c1 { color: #228B22 } /* Comment.Single */
.highlight-perldoc .cs { color: #8B008B; font-weight: bold } /* Comment.Special */
.highlight-perldoc .gd { color: #aa0000 } /* Generic.Deleted */
.highlight-perldoc .ge { font-style: italic } /* Generic.Emph */
.highlight-perldoc .gr { color: #aa0000 } /* Generic.Error */
.highlight-perldoc .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight-perldoc .gi { color: #00aa00 } /* Generic.Inserted */
.highlight-perldoc .go { color: #888888 } /* Generic.Output */
.highlight-perldoc .gp { color: #555555 } /* Generic.Prompt */
.highlight-perldoc .gs { font-weight: bold } /* Generic.Strong */
.highlight-perldoc .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight-perldoc .gt { color: #aa0000 } /* Generic.Traceback */
.highlight-perldoc .kc { color: #8B008B; font-weight: bold } /* Keyword.Constant */
.highlight-perldoc .kd { color: #8B008B; font-weight: bold } /* Keyword.Declaration */
.highlight-perldoc .kn { color: #8B008B; font-weight: bold } /* Keyword.Namespace */
.highlight-perldoc .kp { color: #8B008B; font-weight: bold } /* Keyword.Pseudo */
.highlight-perldoc .kr { color: #8B008B; font-weight: bold } /* Keyword.Reserved */
.highlight-perldoc .kt { color: #00688B; font-weight: bold } /* Keyword.Type */
.highlight-perldoc .m { color: #B452CD } /* Literal.Number */
.highlight-perldoc .s { color: #CD5555 } /* Literal.String */
.highlight-perldoc .na { color: #658b00 } /* Name.Attribute */
.highlight-perldoc .nb { color: #658b00 } /* Name.Builtin */
.highlight-perldoc .nc { color: #008b45; font-weight: bold } /* Name.Class */
.highlight-perldoc .no { color: #00688B } /* Name.Constant */
.highlight-perldoc .nd { color: #707a7c } /* Name.Decorator */
.highlight-perldoc .ne { color: #008b45; font-weight: bold } /* Name.Exception */
.highlight-perldoc .nf { color: #008b45 } /* Name.Function */
.highlight-perldoc .nn { color: #008b45; text-decoration: underline } /* Name.Namespace */
.highlight-perldoc .nt { color: #8B008B; font-weight: bold } /* Name.Tag */
.highlight-perldoc .nv { color: #00688B } /* Name.Variable */
.highlight-perldoc .ow { color: #8B008B } /* Operator.Word */
.highlight-perldoc .w { color: #bbbbbb } /* Text.Whitespace */
.highlight-perldoc .mb { color: #B452CD } /* Literal.Number.Bin */
.highlight-perldoc .mf { color: #B452CD } /* Literal.Number.Float */
.highlight-perldoc .mh { color: #B452CD } /* Literal.Number.Hex */
.highlight-perldoc .mi { color: #B452CD } /* Literal.Number.Integer */
.highlight-perldoc .mo { color: #B452CD } /* Literal.Number.Oct */
.highlight-perldoc .sa { color: #CD5555 } /* Literal.String.Affix */
.highlight-perldoc .sb { color: #CD5555 } /* Literal.String.Backtick */
.highlight-perldoc .sc { color: #CD5555 } /* Literal.String.Char */
.highlight-perldoc .dl { color: #CD5555 } /* Literal.String.Delimiter */
.highlight-perldoc .sd { color: #CD5555 } /* Literal.String.Doc */
.highlight-perldoc .s2 { color: #CD5555 } /* Literal.String.Double */
.highlight-perldoc .se { color: #CD5555 } /* Literal.String.Escape */
.highlight-perldoc .sh { color: #1c7e71; font-style: italic } /* Literal.String.Heredoc */
.highlight-perldoc .si { color: #CD5555 } /* Literal.String.Interpol */
.highlight-perldoc .sx { color: #cb6c20 } /* Literal.String.Other */
.highlight-perldoc .sr { color: #1c7e71 } /* Literal.String.Regex */
.highlight-perldoc .s1 { color: #CD5555 } /* Literal.String.Single */
.highlight-perldoc .ss { color: #CD5555 } /* Literal.String.Symbol */
.highlight-perldoc .bp { color: #658b00 } /* Name.Builtin.Pseudo */
.highlight-perldoc .fm { color: #008b45 } /* Name.Function.Magic */
.highlight-perldoc .vc { color: #00688B } /* Name.Variable.Class */
.highlight-perldoc .vg { color: #00688B } /* Name.Variable.Global */
.highlight-perldoc .vi { color: #00688B } /* Name.Variable.Instance */
.highlight-perldoc .vm { color: #00688B } /* Name.Variable.Magic */
.highlight-perldoc .il { color: #B452CD } /* Literal.Number.Integer.Long */
