pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight-vs .hll { background-color: #ffffcc }
.highlight-vs { background: #ffffff; }
.highlight-vs .c { color: #008000 } /* Comment */
.highlight-vs .err { border: 1px solid #FF0000 } /* Error */
.highlight-vs .k { color: #0000ff } /* Keyword */
.highlight-vs .ch { color: #008000 } /* Comment.Hashbang */
.highlight-vs .cm { color: #008000 } /* Comment.Multiline */
.highlight-vs .cp { color: #0000ff } /* Comment.Preproc */
.highlight-vs .cpf { color: #008000 } /* Comment.PreprocFile */
.highlight-vs .c1 { color: #008000 } /* Comment.Single */
.highlight-vs .cs { color: #008000 } /* Comment.Special */
.highlight-vs .ge { font-style: italic } /* Generic.Emph */
.highlight-vs .gh { font-weight: bold } /* Generic.Heading */
.highlight-vs .gp { font-weight: bold } /* Generic.Prompt */
.highlight-vs .gs { font-weight: bold } /* Generic.Strong */
.highlight-vs .gu { font-weight: bold } /* Generic.Subheading */
.highlight-vs .kc { color: #0000ff } /* Keyword.Constant */
.highlight-vs .kd { color: #0000ff } /* Keyword.Declaration */
.highlight-vs .kn { color: #0000ff } /* Keyword.Namespace */
.highlight-vs .kp { color: #0000ff } /* Keyword.Pseudo */
.highlight-vs .kr { color: #0000ff } /* Keyword.Reserved */
.highlight-vs .kt { color: #2b91af } /* Keyword.Type */
.highlight-vs .s { color: #a31515 } /* Literal.String */
.highlight-vs .nc { color: #2b91af } /* Name.Class */
.highlight-vs .ow { color: #0000ff } /* Operator.Word */
.highlight-vs .sa { color: #a31515 } /* Literal.String.Affix */
.highlight-vs .sb { color: #a31515 } /* Literal.String.Backtick */
.highlight-vs .sc { color: #a31515 } /* Literal.String.Char */
.highlight-vs .dl { color: #a31515 } /* Literal.String.Delimiter */
.highlight-vs .sd { color: #a31515 } /* Literal.String.Doc */
.highlight-vs .s2 { color: #a31515 } /* Literal.String.Double */
.highlight-vs .se { color: #a31515 } /* Literal.String.Escape */
.highlight-vs .sh { color: #a31515 } /* Literal.String.Heredoc */
.highlight-vs .si { color: #a31515 } /* Literal.String.Interpol */
.highlight-vs .sx { color: #a31515 } /* Literal.String.Other */
.highlight-vs .sr { color: #a31515 } /* Literal.String.Regex */
.highlight-vs .s1 { color: #a31515 } /* Literal.String.Single */
.highlight-vs .ss { color: #a31515 } /* Literal.String.Symbol */
