pre { line-height: 125%; }
td.linenos .normal { color: #6e7681; background-color: #0d1117; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #6e7681; background-color: #0d1117; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #c9d1d9; background-color: #6e7681; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #c9d1d9; background-color: #6e7681; padding-left: 5px; padding-right: 5px; }
.highlight-pygments-github-dark .hll { background-color: #6e7681 }
.highlight-pygments-github-dark { background: #0d1117; color: #c9d1d9 }
.highlight-pygments-github-dark .c { color: #8b949e; font-style: italic } /* Comment */
.highlight-pygments-github-dark .err { color: #f85149 } /* Error */
.highlight-pygments-github-dark .esc { color: #c9d1d9 } /* Escape */
.highlight-pygments-github-dark .g { color: #c9d1d9 } /* Generic */
.highlight-pygments-github-dark .k { color: #ff7b72 } /* Keyword */
.highlight-pygments-github-dark .l { color: #a5d6ff } /* Literal */
.highlight-pygments-github-dark .n { color: #c9d1d9 } /* Name */
.highlight-pygments-github-dark .o { color: #ff7b72; font-weight: bold } /* Operator */
.highlight-pygments-github-dark .x { color: #c9d1d9 } /* Other */
.highlight-pygments-github-dark .p { color: #c9d1d9 } /* Punctuation */
.highlight-pygments-github-dark .ch { color: #8b949e; font-style: italic } /* Comment.Hashbang */
.highlight-pygments-github-dark .cm { color: #8b949e; font-style: italic } /* Comment.Multiline */
.highlight-pygments-github-dark .cp { color: #8b949e; font-weight: bold; font-style: italic } /* Comment.Preproc */
.highlight-pygments-github-dark .cpf { color: #8b949e; font-style: italic } /* Comment.PreprocFile */
.highlight-pygments-github-dark .c1 { color: #8b949e; font-style: italic } /* Comment.Single */
.highlight-pygments-github-dark .cs { color: #8b949e; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight-pygments-github-dark .gd { color: #ffa198; background-color: #490202 } /* Generic.Deleted */
.highlight-pygments-github-dark .ge { color: #c9d1d9; font-style: italic } /* Generic.Emph */
.highlight-pygments-github-dark .gr { color: #ffa198 } /* Generic.Error */
.highlight-pygments-github-dark .gh { color: #79c0ff; font-weight: bold } /* Generic.Heading */
.highlight-pygments-github-dark .gi { color: #56d364; background-color: #0f5323 } /* Generic.Inserted */
.highlight-pygments-github-dark .go { color: #8b949e } /* Generic.Output */
.highlight-pygments-github-dark .gp { color: #8b949e } /* Generic.Prompt */
.highlight-pygments-github-dark .gs { color: #c9d1d9; font-weight: bold } /* Generic.Strong */
.highlight-pygments-github-dark .gu { color: #79c0ff } /* Generic.Subheading */
.highlight-pygments-github-dark .gt { color: #ff7b72 } /* Generic.Traceback */
.highlight-pygments-github-dark .g-Underline { color: #c9d1d9; text-decoration: underline } /* Generic.Underline */
.highlight-pygments-github-dark .kc { color: #79c0ff } /* Keyword.Constant */
.highlight-pygments-github-dark .kd { color: #ff7b72 } /* Keyword.Declaration */
.highlight-pygments-github-dark .kn { color: #ff7b72 } /* Keyword.Namespace */
.highlight-pygments-github-dark .kp { color: #79c0ff } /* Keyword.Pseudo */
.highlight-pygments-github-dark .kr { color: #ff7b72 } /* Keyword.Reserved */
.highlight-pygments-github-dark .kt { color: #ff7b72 } /* Keyword.Type */
.highlight-pygments-github-dark .ld { color: #79c0ff } /* Literal.Date */
.highlight-pygments-github-dark .m { color: #a5d6ff } /* Literal.Number */
.highlight-pygments-github-dark .s { color: #a5d6ff } /* Literal.String */
.highlight-pygments-github-dark .na { color: #c9d1d9 } /* Name.Attribute */
.highlight-pygments-github-dark .nb { color: #c9d1d9 } /* Name.Builtin */
.highlight-pygments-github-dark .nc { color: #f0883e; font-weight: bold } /* Name.Class */
.highlight-pygments-github-dark .no { color: #79c0ff; font-weight: bold } /* Name.Constant */
.highlight-pygments-github-dark .nd { color: #d2a8ff; font-weight: bold } /* Name.Decorator */
.highlight-pygments-github-dark .ni { color: #ffa657 } /* Name.Entity */
.highlight-pygments-github-dark .ne { color: #f0883e; font-weight: bold } /* Name.Exception */
.highlight-pygments-github-dark .nf { color: #d2a8ff; font-weight: bold } /* Name.Function */
.highlight-pygments-github-dark .nl { color: #79c0ff; font-weight: bold } /* Name.Label */
.highlight-pygments-github-dark .nn { color: #ff7b72 } /* Name.Namespace */
.highlight-pygments-github-dark .nx { color: #c9d1d9 } /* Name.Other */
.highlight-pygments-github-dark .py { color: #79c0ff } /* Name.Property */
.highlight-pygments-github-dark .nt { color: #7ee787 } /* Name.Tag */
.highlight-pygments-github-dark .nv { color: #79c0ff } /* Name.Variable */
.highlight-pygments-github-dark .ow { color: #ff7b72; font-weight: bold } /* Operator.Word */
.highlight-pygments-github-dark .pm { color: #c9d1d9 } /* Punctuation.Marker */
.highlight-pygments-github-dark .w { color: #6e7681 } /* Text.Whitespace */
.highlight-pygments-github-dark .mb { color: #a5d6ff } /* Literal.Number.Bin */
.highlight-pygments-github-dark .mf { color: #a5d6ff } /* Literal.Number.Float */
.highlight-pygments-github-dark .mh { color: #a5d6ff } /* Literal.Number.Hex */
.highlight-pygments-github-dark .mi { color: #a5d6ff } /* Literal.Number.Integer */
.highlight-pygments-github-dark .mo { color: #a5d6ff } /* Literal.Number.Oct */
.highlight-pygments-github-dark .sa { color: #79c0ff } /* Literal.String.Affix */
.highlight-pygments-github-dark .sb { color: #a5d6ff } /* Literal.String.Backtick */
.highlight-pygments-github-dark .sc { color: #a5d6ff } /* Literal.String.Char */
.highlight-pygments-github-dark .dl { color: #79c0ff } /* Literal.String.Delimiter */
.highlight-pygments-github-dark .sd { color: #a5d6ff } /* Literal.String.Doc */
.highlight-pygments-github-dark .s2 { color: #a5d6ff } /* Literal.String.Double */
.highlight-pygments-github-dark .se { color: #79c0ff } /* Literal.String.Escape */
.highlight-pygments-github-dark .sh { color: #79c0ff } /* Literal.String.Heredoc */
.highlight-pygments-github-dark .si { color: #a5d6ff } /* Literal.String.Interpol */
.highlight-pygments-github-dark .sx { color: #a5d6ff } /* Literal.String.Other */
.highlight-pygments-github-dark .sr { color: #79c0ff } /* Literal.String.Regex */
.highlight-pygments-github-dark .s1 { color: #a5d6ff } /* Literal.String.Single */
.highlight-pygments-github-dark .ss { color: #a5d6ff } /* Literal.String.Symbol */
.highlight-pygments-github-dark .bp { color: #c9d1d9 } /* Name.Builtin.Pseudo */
.highlight-pygments-github-dark .fm { color: #d2a8ff; font-weight: bold } /* Name.Function.Magic */
.highlight-pygments-github-dark .vc { color: #79c0ff } /* Name.Variable.Class */
.highlight-pygments-github-dark .vg { color: #79c0ff } /* Name.Variable.Global */
.highlight-pygments-github-dark .vi { color: #79c0ff } /* Name.Variable.Instance */
.highlight-pygments-github-dark .vm { color: #79c0ff } /* Name.Variable.Magic */
.highlight-pygments-github-dark .il { color: #a5d6ff } /* Literal.Number.Integer.Long */
