pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight-pygments-monokai .hll { background-color: #49483e }
.highlight-pygments-monokai { background: #272822; color: #f8f8f2 }
.highlight-pygments-monokai .c { color: #75715e } /* Comment */
.highlight-pygments-monokai .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight-pygments-monokai .esc { color: #f8f8f2 } /* Escape */
.highlight-pygments-monokai .g { color: #f8f8f2 } /* Generic */
.highlight-pygments-monokai .k { color: #66d9ef } /* Keyword */
.highlight-pygments-monokai .l { color: #ae81ff } /* Literal */
.highlight-pygments-monokai .n { color: #f8f8f2 } /* Name */
.highlight-pygments-monokai .o { color: #f92672 } /* Operator */
.highlight-pygments-monokai .x { color: #f8f8f2 } /* Other */
.highlight-pygments-monokai .p { color: #f8f8f2 } /* Punctuation */
.highlight-pygments-monokai .ch { color: #75715e } /* Comment.Hashbang */
.highlight-pygments-monokai .cm { color: #75715e } /* Comment.Multiline */
.highlight-pygments-monokai .cp { color: #75715e } /* Comment.Preproc */
.highlight-pygments-monokai .cpf { color: #75715e } /* Comment.PreprocFile */
.highlight-pygments-monokai .c1 { color: #75715e } /* Comment.Single */
.highlight-pygments-monokai .cs { color: #75715e } /* Comment.Special */
.highlight-pygments-monokai .gd { color: #f92672 } /* Generic.Deleted */
.highlight-pygments-monokai .ge { color: #f8f8f2; font-style: italic } /* Generic.Emph */
.highlight-pygments-monokai .gr { color: #f8f8f2 } /* Generic.Error */
.highlight-pygments-monokai .gh { color: #f8f8f2 } /* Generic.Heading */
.highlight-pygments-monokai .gi { color: #a6e22e } /* Generic.Inserted */
.highlight-pygments-monokai .go { color: #66d9ef } /* Generic.Output */
.highlight-pygments-monokai .gp { color: #f92672; font-weight: bold } /* Generic.Prompt */
.highlight-pygments-monokai .gs { color: #f8f8f2; font-weight: bold } /* Generic.Strong */
.highlight-pygments-monokai .gu { color: #75715e } /* Generic.Subheading */
.highlight-pygments-monokai .gt { color: #f8f8f2 } /* Generic.Traceback */
.highlight-pygments-monokai .kc { color: #66d9ef } /* Keyword.Constant */
.highlight-pygments-monokai .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight-pygments-monokai .kn { color: #f92672 } /* Keyword.Namespace */
.highlight-pygments-monokai .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight-pygments-monokai .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight-pygments-monokai .kt { color: #66d9ef } /* Keyword.Type */
.highlight-pygments-monokai .ld { color: #e6db74 } /* Literal.Date */
.highlight-pygments-monokai .m { color: #ae81ff } /* Literal.Number */
.highlight-pygments-monokai .s { color: #e6db74 } /* Literal.String */
.highlight-pygments-monokai .na { color: #a6e22e } /* Name.Attribute */
.highlight-pygments-monokai .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight-pygments-monokai .nc { color: #a6e22e } /* Name.Class */
.highlight-pygments-monokai .no { color: #66d9ef } /* Name.Constant */
.highlight-pygments-monokai .nd { color: #a6e22e } /* Name.Decorator */
.highlight-pygments-monokai .ni { color: #f8f8f2 } /* Name.Entity */
.highlight-pygments-monokai .ne { color: #a6e22e } /* Name.Exception */
.highlight-pygments-monokai .nf { color: #a6e22e } /* Name.Function */
.highlight-pygments-monokai .nl { color: #f8f8f2 } /* Name.Label */
.highlight-pygments-monokai .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight-pygments-monokai .nx { color: #a6e22e } /* Name.Other */
.highlight-pygments-monokai .py { color: #f8f8f2 } /* Name.Property */
.highlight-pygments-monokai .nt { color: #f92672 } /* Name.Tag */
.highlight-pygments-monokai .nv { color: #f8f8f2 } /* Name.Variable */
.highlight-pygments-monokai .ow { color: #f92672 } /* Operator.Word */
.highlight-pygments-monokai .pm { color: #f8f8f2 } /* Punctuation.Marker */
.highlight-pygments-monokai .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight-pygments-monokai .mb { color: #ae81ff } /* Literal.Number.Bin */
.highlight-pygments-monokai .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight-pygments-monokai .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight-pygments-monokai .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight-pygments-monokai .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight-pygments-monokai .sa { color: #e6db74 } /* Literal.String.Affix */
.highlight-pygments-monokai .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight-pygments-monokai .sc { color: #e6db74 } /* Literal.String.Char */
.highlight-pygments-monokai .dl { color: #e6db74 } /* Literal.String.Delimiter */
.highlight-pygments-monokai .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight-pygments-monokai .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight-pygments-monokai .se { color: #ae81ff } /* Literal.String.Escape */
.highlight-pygments-monokai .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight-pygments-monokai .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight-pygments-monokai .sx { color: #e6db74 } /* Literal.String.Other */
.highlight-pygments-monokai .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight-pygments-monokai .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight-pygments-monokai .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight-pygments-monokai .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight-pygments-monokai .fm { color: #a6e22e } /* Name.Function.Magic */
.highlight-pygments-monokai .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight-pygments-monokai .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight-pygments-monokai .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight-pygments-monokai .vm { color: #f8f8f2 } /* Name.Variable.Magic */
.highlight-pygments-monokai .il { color: #ae81ff } /* Literal.Number.Integer.Long */
