.highlight-rouge-magritte table td { padding: 5px; }
.highlight-rouge-magritte table pre { margin: 0; }
.highlight-rouge-magritte {
  color: #000707;
  background-color: #f3ffff;
}
.highlight-rouge-magritte .gl {
  color: #f3ffff;
  background-color: #000707;
}
.highlight-rouge-magritte .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #006c6c;
  font-style: italic;
}
.highlight-rouge-magritte .cp {
  color: #920241;
  font-weight: bold;
}
.highlight-rouge-magritte .err {
  color: #f3ffff;
  background-color: #f22700;
}
.highlight-rouge-magritte .gr {
  color: #f22700;
  font-weight: bold;
  font-style: italic;
}
.highlight-rouge-magritte .k, .highlight .kd, .highlight .kv {
  color: #19003a;
  font-weight: bold;
}
.highlight-rouge-magritte .o, .highlight .ow {
  color: #4c48fe;
  font-weight: bold;
}
.highlight-rouge-magritte .p, .highlight .pi {
  color: #4c48fe;
}
.highlight-rouge-magritte .gd {
  color: #f22700;
}
.highlight-rouge-magritte .gi {
  color: #007500;
}
.highlight-rouge-magritte .ge {
  font-style: italic;
}
.highlight-rouge-magritte .gs {
  font-weight: bold;
}
.highlight-rouge-magritte .gt {
  color: #000000;
  background-color: #d8d9ff;
}
.highlight-rouge-magritte .kc {
  color: #007500;
  font-weight: bold;
}
.highlight-rouge-magritte .kn {
  color: #007500;
  font-weight: bold;
}
.highlight-rouge-magritte .kp {
  color: #007500;
  font-weight: bold;
}
.highlight-rouge-magritte .kr {
  color: #007500;
  font-weight: bold;
}
.highlight-rouge-magritte .gh {
  color: #007500;
  font-weight: bold;
}
.highlight-rouge-magritte .gu {
  color: #007500;
  font-weight: bold;
}
.highlight-rouge-magritte .kt {
  color: #920241;
  font-weight: bold;
}
.highlight-rouge-magritte .no {
  color: #920241;
  font-weight: bold;
}
.highlight-rouge-magritte .nc {
  color: #920241;
  font-weight: bold;
}
.highlight-rouge-magritte .nd {
  color: #920241;
  font-weight: bold;
}
.highlight-rouge-magritte .nn {
  color: #920241;
  font-weight: bold;
}
.highlight-rouge-magritte .bp {
  color: #920241;
  font-weight: bold;
}
.highlight-rouge-magritte .ne {
  color: #920241;
  font-weight: bold;
}
.highlight-rouge-magritte .nl {
  color: #840084;
  font-weight: bold;
}
.highlight-rouge-magritte .nt {
  color: #840084;
  font-weight: bold;
}
.highlight-rouge-magritte .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #007500;
  font-weight: bold;
}
.highlight-rouge-magritte .ld {
  color: #007500;
  font-weight: bold;
}
.highlight-rouge-magritte .ss {
  color: #007500;
}
.highlight-rouge-magritte .s, .highlight .sb, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .sr, .highlight .s1 {
  color: #7c0000;
  font-weight: bold;
}
.highlight-rouge-magritte .sa {
  color: #19003a;
  font-weight: bold;
}
.highlight-rouge-magritte .se {
  color: #840084;
  font-weight: bold;
}
.highlight-rouge-magritte .sc {
  color: #840084;
  font-weight: bold;
}
.highlight-rouge-magritte .si {
  color: #840084;
  font-weight: bold;
}
.highlight-rouge-magritte .nb {
  font-weight: bold;
}
.highlight-rouge-magritte .ni {
  color: #999999;
  font-weight: bold;
}
.highlight-rouge-magritte .w {
  color: #BBBBBB;
}
.highlight-rouge-magritte .go {
  color: #19003a;
}
.highlight-rouge-magritte .nf, .highlight .fm {
  color: #ff0089;
}
.highlight-rouge-magritte .py {
  color: #ff0089;
}
.highlight-rouge-magritte .na {
  color: #ff0089;
}
.highlight-rouge-magritte .nv, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm {
  color: #ff0089;
  font-weight: bold;
}
