.highlight-rouge-thankful_eyes table td { padding: 5px; }
.highlight-rouge-thankful_eyes table pre { margin: 0; }
.highlight-rouge-thankful_eyes {
  color: #faf6e4;
  background-color: #122b3b;
}
.highlight-rouge-thankful_eyes .gl {
  color: #dee5e7;
  background-color: #4e5d62;
}
.highlight-rouge-thankful_eyes .gp {
  color: #a8e1fe;
  font-weight: bold;
}
.highlight-rouge-thankful_eyes .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #6c8b9f;
  font-style: italic;
}
.highlight-rouge-thankful_eyes .cp {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight-rouge-thankful_eyes .err {
  color: #fefeec;
  background-color: #cc0000;
}
.highlight-rouge-thankful_eyes .gr {
  color: #cc0000;
  font-weight: bold;
  font-style: italic;
}
.highlight-rouge-thankful_eyes .k, .highlight .kd, .highlight .kv {
  color: #f6dd62;
  font-weight: bold;
}
.highlight-rouge-thankful_eyes .o, .highlight .ow {
  color: #4df4ff;
  font-weight: bold;
}
.highlight-rouge-thankful_eyes .p, .highlight .pi {
  color: #4df4ff;
}
.highlight-rouge-thankful_eyes .gd {
  color: #cc0000;
}
.highlight-rouge-thankful_eyes .gi {
  color: #b2fd6d;
}
.highlight-rouge-thankful_eyes .ge {
  font-style: italic;
}
.highlight-rouge-thankful_eyes .gs {
  font-weight: bold;
}
.highlight-rouge-thankful_eyes .gt {
  color: #dee5e7;
  background-color: #4e5d62;
}
.highlight-rouge-thankful_eyes .kc {
  color: #f696db;
  font-weight: bold;
}
.highlight-rouge-thankful_eyes .kn {
  color: #ffb000;
  font-weight: bold;
}
.highlight-rouge-thankful_eyes .kp {
  color: #ffb000;
  font-weight: bold;
}
.highlight-rouge-thankful_eyes .kr {
  color: #ffb000;
  font-weight: bold;
}
.highlight-rouge-thankful_eyes .gh {
  color: #ffb000;
  font-weight: bold;
}
.highlight-rouge-thankful_eyes .gu {
  color: #ffb000;
  font-weight: bold;
}
.highlight-rouge-thankful_eyes .kt {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight-rouge-thankful_eyes .no {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight-rouge-thankful_eyes .nc {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight-rouge-thankful_eyes .nd {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight-rouge-thankful_eyes .nn {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight-rouge-thankful_eyes .bp {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight-rouge-thankful_eyes .ne {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight-rouge-thankful_eyes .nl {
  color: #ffb000;
  font-weight: bold;
}
.highlight-rouge-thankful_eyes .nt {
  color: #ffb000;
  font-weight: bold;
}
.highlight-rouge-thankful_eyes .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #f696db;
  font-weight: bold;
}
.highlight-rouge-thankful_eyes .ld {
  color: #f696db;
  font-weight: bold;
}
.highlight-rouge-thankful_eyes .ss {
  color: #f696db;
  font-weight: bold;
}
.highlight-rouge-thankful_eyes .s, .highlight .sb, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .sr, .highlight .s1 {
  color: #fff0a6;
  font-weight: bold;
}
.highlight-rouge-thankful_eyes .sa {
  color: #f6dd62;
  font-weight: bold;
}
.highlight-rouge-thankful_eyes .se {
  color: #4df4ff;
  font-weight: bold;
}
.highlight-rouge-thankful_eyes .sc {
  color: #4df4ff;
  font-weight: bold;
}
.highlight-rouge-thankful_eyes .si {
  color: #4df4ff;
  font-weight: bold;
}
.highlight-rouge-thankful_eyes .nb {
  font-weight: bold;
}
.highlight-rouge-thankful_eyes .ni {
  color: #999999;
  font-weight: bold;
}
.highlight-rouge-thankful_eyes .w {
  color: #BBBBBB;
}
.highlight-rouge-thankful_eyes .go {
  color: #BBBBBB;
}
.highlight-rouge-thankful_eyes .nf, .highlight .fm {
  color: #a8e1fe;
}
.highlight-rouge-thankful_eyes .py {
  color: #a8e1fe;
}
.highlight-rouge-thankful_eyes .na {
  color: #a8e1fe;
}
.highlight-rouge-thankful_eyes .nv, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm {
  color: #a8e1fe;
  font-weight: bold;
}
