.highlight-rouge-base16\.solarized table td { padding: 5px; }
.highlight-rouge-base16\.solarized table pre { margin: 0; }
.highlight-rouge-base16\.solarized, .highlight .w {
  color: #586e75;
}
.highlight-rouge-base16\.solarized .err {
  color: #002b36;
  background-color: #dc322f;
}
.highlight-rouge-base16\.solarized .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #657b83;
}
.highlight-rouge-base16\.solarized .cp {
  color: #b58900;
}
.highlight-rouge-base16\.solarized .nt {
  color: #b58900;
}
.highlight-rouge-base16\.solarized .o, .highlight .ow {
  color: #93a1a1;
}
.highlight-rouge-base16\.solarized .p, .highlight .pi {
  color: #93a1a1;
}
.highlight-rouge-base16\.solarized .gi {
  color: #859900;
}
.highlight-rouge-base16\.solarized .gd {
  color: #dc322f;
}
.highlight-rouge-base16\.solarized .gh {
  color: #268bd2;
  background-color: #002b36;
  font-weight: bold;
}
.highlight-rouge-base16\.solarized .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #6c71c4;
}
.highlight-rouge-base16\.solarized .kc {
  color: #cb4b16;
}
.highlight-rouge-base16\.solarized .kt {
  color: #cb4b16;
}
.highlight-rouge-base16\.solarized .kd {
  color: #cb4b16;
}
.highlight-rouge-base16\.solarized .s, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #859900;
}
.highlight-rouge-base16\.solarized .sa {
  color: #6c71c4;
}
.highlight-rouge-base16\.solarized .sr {
  color: #2aa198;
}
.highlight-rouge-base16\.solarized .si {
  color: #d33682;
}
.highlight-rouge-base16\.solarized .se {
  color: #d33682;
}
.highlight-rouge-base16\.solarized .nn {
  color: #b58900;
}
.highlight-rouge-base16\.solarized .nc {
  color: #b58900;
}
.highlight-rouge-base16\.solarized .no {
  color: #b58900;
}
.highlight-rouge-base16\.solarized .na {
  color: #268bd2;
}
.highlight-rouge-base16\.solarized .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #859900;
}
.highlight-rouge-base16\.solarized .ss {
  color: #859900;
}
