.highlight-rouge-github\.dark table td { padding: 5px; }
.highlight-rouge-github\.dark table pre { margin: 0; }
.highlight-rouge-github\.dark, .highlight .w {
  color: #c9d1d9;
  background-color: #161b22;
}
.highlight-rouge-github\.dark .k, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .kv {
  color: #ff7b72;
}
.highlight-rouge-github\.dark .gr {
  color: #f0f6fc;
}
.highlight-rouge-github\.dark .gd {
  color: #ffdcd7;
  background-color: #67060c;
}
.highlight-rouge-github\.dark .nb {
  color: #ffa657;
}
.highlight-rouge-github\.dark .nc {
  color: #ffa657;
}
.highlight-rouge-github\.dark .no {
  color: #ffa657;
}
.highlight-rouge-github\.dark .nn {
  color: #ffa657;
}
.highlight-rouge-github\.dark .sr {
  color: #7ee787;
}
.highlight-rouge-github\.dark .na {
  color: #7ee787;
}
.highlight-rouge-github\.dark .nt {
  color: #7ee787;
}
.highlight-rouge-github\.dark .gi {
  color: #aff5b4;
  background-color: #033a16;
}
.highlight-rouge-github\.dark .kc {
  color: #79c0ff;
}
.highlight-rouge-github\.dark .l, .highlight .ld, .highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #79c0ff;
}
.highlight-rouge-github\.dark .sb {
  color: #79c0ff;
}
.highlight-rouge-github\.dark .bp {
  color: #79c0ff;
}
.highlight-rouge-github\.dark .ne {
  color: #79c0ff;
}
.highlight-rouge-github\.dark .nl {
  color: #79c0ff;
}
.highlight-rouge-github\.dark .py {
  color: #79c0ff;
}
.highlight-rouge-github\.dark .nv, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm {
  color: #79c0ff;
}
.highlight-rouge-github\.dark .o, .highlight .ow {
  color: #79c0ff;
}
.highlight-rouge-github\.dark .gh {
  color: #1f6feb;
  font-weight: bold;
}
.highlight-rouge-github\.dark .gu {
  color: #1f6feb;
  font-weight: bold;
}
.highlight-rouge-github\.dark .s, .highlight .sa, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .sx, .highlight .s1, .highlight .ss {
  color: #a5d6ff;
}
.highlight-rouge-github\.dark .nd {
  color: #d2a8ff;
}
.highlight-rouge-github\.dark .nf, .highlight .fm {
  color: #d2a8ff;
}
.highlight-rouge-github\.dark .err {
  color: #f0f6fc;
  background-color: #8e1519;
}
.highlight-rouge-github\.dark .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cp, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #8b949e;
}
.highlight-rouge-github\.dark .gl {
  color: #8b949e;
}
.highlight-rouge-github\.dark .gt {
  color: #8b949e;
}
.highlight-rouge-github\.dark .ni {
  color: #c9d1d9;
}
.highlight-rouge-github\.dark .si {
  color: #c9d1d9;
}
.highlight-rouge-github\.dark .ge {
  color: #c9d1d9;
  font-style: italic;
}
.highlight-rouge-github\.dark .gs {
  color: #c9d1d9;
  font-weight: bold;
}
